[2015-09-21 12:26] es128 commented on #1015
Don't use the one from apt at all, uninstall it.

Use the installer from nodejs.org

[2015-09-21 12:26] #1015 closed

[2015-09-21 13:23] GesJeremie commented on #954
Before to think about how I can code that by myself, what's the best way to solve the error ?

Ofter i just delete the "plugin" in the `bower_components` folder and I run `bower install` in the root folder, is it the best way to fix that ?

[2015-09-21 15:50] magcius commented on #1016
Yeah. Almost immediately after this issue (which I hacked around locally by just removing the !0 parameter from both calls), I found https://github.com/yavorsky/deppack/pull/4

Do you have any recommendation of what I should use instead?

[2015-09-21 18:35] nervo commented on #1008
Of course :)

    $ brunch -V
    1.8.5

Given a simple structure

    ├── app
    │   └── Resources
    │       └── assets
    │           └── fonts
    │               └── black.eot
    ├── brunch-config.coffee
    ├── node_modules
    │   ...
    ├── package.json
    └── web
        ...

a *brunch-config.coffee* like this:

    exports.config =
      paths:
        public:  'web/assets'

[2015-09-21 21:33] paulmillr commented on #954
just catch this error https://github.com/paulmillr/read-components/blob/master/index.js#L70 or throw sth more meaningful that says user should run `bower install` etc

[2015-09-22 10:25] arjan opened #1017 "Running development server on non-localhost"
Is it possible to run the development server (`brunch watch --server`) on other IP addresses like `0.0.0.0`?

[2015-09-22 13:41] es128 commented on #1017
Try setting `server.hostname` in your config. PR welcome to update the docs and the stdout message to make this option more visible and intuitive.

[2015-09-23 05:23] dudo opened #1018 "Unknown option: direct.format"
`Compiling of 'app/js/app.jsx' failed. [BABEL] app/js/app.jsx: Unknown option: direct.format`

I'm not sure if this is directly related to babel, or brunch, but if I could get some help setting up this app, that would be fantastic =)

[2015-09-23 05:36] paulmillr commented on #1018
definitely related to Babel. Ask this question in a corresponding plugin's repo please!

[2015-09-23 05:36] #1018 closed

[2015-09-25 11:24] adstastic commented on #1015
Thanks!

[2015-09-26 13:13] #955 closed

[2015-09-26 13:14] paulmillr opened #1020 "Refactor"
- [ ] Get rid of the curried functions. I'm pretty tired of 1000 wrapped & curried functions here and there, let's see if we can think of a better way which is just as fast
- [ ] Switch to promises. Investigate performance downside from using them.

[2015-09-26 17:14] istr commented on #189
I would like to re-open this. Having only an "include this" facility may lead to extremely clumsy patterns. Having a "do not include that" facility leads to smaller / cleaner configs and alleviates integrating components (e.g. less-based CSS toolkits) that have internal dependencies not following the ```_``` convention.

[2015-09-26 17:29] istr commented on #720
It think that this is a rather common use case. Look at all the templates that just "rename the file to start with an underscore" copying over some upstream repo (e.g. https://github.com/Anaphase/brunch-banana-pancakes just renaming the full bootstrap .less source tree). This is not feasible to keep up with upstream dependencies that have different conventions (there are *lots of them*). The prime

[2015-09-26 18:01] es128 commented on #189
https://github.com/brunch/brunch/blob/master/docs/config.md#conventions and negated globs (starting with `!`) are two additional options for accomplishing that.

[2015-09-26 18:04] es128 commented on #720
Answered @istr's question (added to these two super-old issues) at https://github.com/brunch/brunch/issues/189#issuecomment-143470566

tl;dr there's also a `conventions.ignored` setting and globs can be negated for excluding files

[2015-09-26 18:43] istr commented on #720
Yes, figured it out, after some hours of re-reading docs and trying to get grips on ```anymatch``` logic (e.g. could not get it to work with globs instead of REs inside of ```ignored``` anymatch set).

A minimal working example somewhere in the docs would be nice, like

[code]

I guess that there are scores of "legacy" projects out there using a "single xyz file, requiring / including the whole sh

[2015-09-26 18:47] istr commented on #189
Tried ```conventions.ignored``` with globs -- did not work (only with REs in ```conventions.ignored```). Negated globs in ```path``` did not work out, neither. See an example that works for me in https://github.com/brunch/brunch/issues/720.

[2015-09-27 11:43] istr opened #1021 "glob in conventions: ignored: do not work"
Trying to ignore paths using globs in conventions: ignored: does not work.

The problem is not in anymatch (anymatch behaves like expected).

[code]

Steps to reproduce:

- Set up the basic guide demo repo and create some illegal .js files in a separate path:
[code]
- Change the config file and try to ignore using globs
[code]
- Run brunch (this fails)
[code]
- Change the config file and try to ig

[2015-09-27 13:31] #1011 closed

[2015-09-27 13:38] #954 closed

[2015-09-27 22:02] lpil opened #1022 "TypeError when npm is enabled"
With this in my config:

[code]

I get this error

[code]

[code]
[code]

Thanks,
Louis

[2015-09-28 10:28] tregagnon commented on #1022
I am getting the same error. With Node.js 0.12.7.

[2015-09-28 15:56] #1017 closed

[2015-09-28 15:58] paulmillr opened #1023 "Client-side NPM integration requires serious rework"
Just a general issue for all kinds of NPM issues.

- [x] Documentation update
- [x] Better stack traces
- [x] Config shims
- [x] Performance (#1038)

[2015-09-28 15:58] paulmillr commented on #1022
Let's move to gh-1023.

[2015-09-28 15:58] #1022 closed

[2015-09-28 15:58] paulmillr commented on #1009
Let's move to gh-1023.

[2015-09-28 15:58] #1009 closed

[2015-09-28 15:58] paulmillr commented on #986
Let's move to gh-1023.

[2015-09-28 15:58] #986 closed

[2015-09-28 15:58] paulmillr commented on #984
Let's move to gh-1023.

[2015-09-28 15:58] #984 closed

[2015-09-28 15:58] paulmillr commented on #973
Let's move to gh-1023.

[2015-09-28 15:58] #973 closed

[2015-09-28 15:59] paulmillr commented on #963
Let's move to gh-1023.

[2015-09-28 15:59] #963 closed

[2015-09-28 15:59] paulmillr commented on #960
Let's move to gh-1023.

[2015-09-28 15:59] #960 closed

[2015-09-28 15:59] paulmillr commented on #991
Let's move to gh-1023.

[2015-09-28 15:59] #991 closed

[2015-09-28 15:59] paulmillr commented on #945
Let's move to gh-1023.

[2015-09-28 15:59] #945 closed

[2015-09-28 16:00] #994 closed

[2015-09-28 16:03] es128 commented on #1023
Remind me why we didn't just defer this to letting browserify build standalone packages of the deps discovered with detective. Why shouldn't we do that now instead of reinventing with deppack?

[2015-09-28 16:14] paulmillr commented on #1023
I think there was an issue with that but I cannot remember which one. Speed?

[2015-10-02 15:07] marcolz opened #1024 "Brunch should come with a init command to init new projects with the dead-simple skeleton, out of the box"
That is the only skeleton I really use, as most available skeletons these days are out of date, or never fully suiting me needs.

I'm pretty sure I'm not the only one to always use dead-simple and then start adding custom libraries.

Just an idea.

[2015-10-02 15:13] es128 commented on #1024
You're asking for `brunch init` as an alias for `brunch new brunch/dead-simple`?

[2015-10-02 15:21] marcolz commented on #1024
Correct. ☺️

[2015-10-02 16:11] vendethiel commented on #1024
Yeah, I know I'm contributing to this trend... That's also the issue with technologies that come by and go away so fast... Stuff gets outdated really, really rapidly...

[2015-10-03 09:13] paulmillr commented on #1024
Agree.

[2015-10-04 11:19] es128 commented on #1024
It would be good if we could find a place to hold global settings, so users could pick whatever they want their default skeleton to be for the `init` command.

[2015-10-05 03:50] jerel commented on #1023
I just ran into a problem that seems like it's part of this issue. However it's a (seemingly) simple use case that I haven't seen mentioned yet so thought I'd describe it. It looks like some sort of node module detection mechanism is preventing the transpilation of es6 from inside a node module.

My brunch project looks like this:

* app.js (contains `import Foo from 'sub-project/src/foo'`)
* node

[2015-10-13 01:57] ceremcem opened #1026 "Brunch does not concatenate files located in vendor"
Today I just cloned [my working project](https://github.com/ceremcem/aktos-website) into a Debian Jessie 32bit Virtual machine, reinstalled `npm 4.x`, `npm install -g brunch livescript`, `npm install` and then `brunch b`. When I try to load webpage, it says "ReferenceError: Ractive is not defined". It is true since there is no "Ractive" keyword in `public/javascripts/vendor.js`, which means the `R

[2015-10-13 20:49] paulmillr commented on #1026
Would be great if you could share `-d` output with us (in a gist)

[2015-10-13 22:52] ceremcem commented on #1026
Here you are: https://gist.github.com/ceremcem/8f0014bca5c3d13daee4

[2015-10-14 22:15] johnjarrard commented on #633
@mathilde-pellerin - Did you ever figure out how to handle the fonts for Angular-ui-grid?  I'm dealing with the exact same issue right now.

[2015-10-15 06:42] nob opened #1027 "server.indexPath config and it's behavior."
I read [configuration file doc](https://github.com/brunch/brunch/blob/master/docs/config.md#server) and tweaked **server.indexPath** value since I need to rename 'index.html' to 'login.html' in public/ directory.
Then I got [this error on my browser](http://d.pr/i/1eDDR)
I also tried to change **server.noPushState** and **server.Slashes**, but had no luck. How I can configure the path to serve whe

[2015-10-16 23:24] Bartmax opened #1028 "Brunch extension for Visual Studio is available."
I suggested this feature https://github.com/aspnet/Tooling/issues/37 on the aspnet tooling repo and @madskristensen created an extension here:
https://visualstudiogallery.msdn.microsoft.com/de706ad0-8a73-4df3-bef5-867bb9a70d51

I wanted to let you know! this is great news btw.

[2015-10-16 23:46] paulmillr commented on #1028
Awesome! :+1:

[2015-10-19 07:14] freakone commented on #1023
#1009 issue is caused by deppack. Even if you pass escaped string, it will remove the double slashes during path evaluation. This is win32 issue only though. I have created pull request with a fix.

**Quick fix**
If you want to fix it at-hoc just go to ```deppack.js``` in your ```node_modules\deppack\lib\``` dir and search for
```packDeps(entryModuleFilePath, header, deps,(...)```
and add a silmpl

[2015-10-19 09:08] Bartmax opened #1029 "Exclude patterns in array."
I see that there was an addition on anymatch https://github.com/es128/anymatch/issues/6 for this scenario, but I couldn't make it to work with brunch 1.8.5, is this supposed to work?

[code]

[2015-10-19 14:16] es128 commented on #1029
What are you trying to do with those two globs? Doesn't seem like the second one with the negation would have any effect.

[2015-10-19 14:24] Bartmax commented on #1029
Well, yes sorry, that example is kinda non-sense.
I will try to give the 'real' example of what I'm trying to accomplish.

[code]

all I want to do is exclude jquery and bootstrap from concat, i need those to have it on it's own file.

[2015-10-19 14:30] es128 commented on #1029
I'm not totally sure whether negating regex matches with negated globs is going to work, but this example still doesn't really make sense to me.

Perhaps try something like `['!**/{jquery,bootstrap}/**/*', 'vendor/**/*']`

[2015-10-19 14:34] Bartmax commented on #1029
definitely I don't understand how it works, but your suggestion is exactly what I was trying to accomplish. thanks.

[2015-10-19 14:34] #1029 closed

[2015-10-19 14:41] vendethiel commented on #1029
It's the shell expansion syntax, `foo_ba{r,z,t}` is `foo_bar foo_baz foo_bat`

[2015-10-19 14:52] Bartmax commented on #1029
thank you@vendethiel, what I don't understand is how the negation works, expansion is clear.

[2015-10-19 15:00] Bartmax commented on #1029
now I get it, I wasn't using globs correctly. thank you both.

[2015-10-21 07:42] go-native opened #1030 "Brunch with html"
Brunch works with almost the all template languages and has plugins for them, but I could't work with vanilla HTML. I just want that on every build brunch just copy my html files(wherever they are located) and paste under that appropriate location on public folder. I don't want to use jade, handlebars or whatever I just want to copy clean HTML files without any modification. Is that possible?

[2015-10-21 14:15] es128 commented on #1030
Brunch was designed around the idea that templates would be compiled into html, so the workflow you want is not available in a totally straightforward way. There are workarounds. You could either define the html files as assets or make a plugin that handles writing the dest file on its own.

The former might look something like `conventions.assets = ['assets/**/*', '**/*.html']`

As for the plugin

[2015-10-21 14:15] #1030 closed

[2015-10-25 00:21] kavika13 opened #1031 "Support mixing standard js module wrapping along side less-conforming module systems"
You get common.js wrapping by default on all your locally defined script files, and only get an option to turn it off globally for all files (`modules -> wrapper = false`). There should be a mechanism in the config to turn off or re-configure module wrapping for certain sets of files. This could be done as a separate concat, or as an orthogonal option that is applied to all files while doing the c

[2015-10-25 00:22] kavika13 commented on #1031
I'm not sure how often this sort of scenario crops up, so can't comment on the priority :) I'm just running into this when learning angular for the first time, and trying to use a from-scratch brunch setup to build it... I don't know how much non-angular code I'm going to make, so for me, I can probably just turn it off globally. As a newbie to angular, this seems a bit janky to me right now, is a

[2015-10-25 00:25] paulmillr commented on #1031
Interesting idea. Let's take a look at possibilities / +1s.

[2015-10-25 11:08] ghostd commented on #1020
Hi,

Please, check my PR #1032 and let me know what you think about it.

Regards

[2015-10-27 21:10] Bartmax opened #1033 "conventions ignored."
is there any way to add to the ignore conventions instead of replace?

[2015-10-27 21:13] es128 commented on #1033
Copy the defaults into your config. So no, not in the way you mean.

[2015-10-27 21:15] Bartmax commented on #1033
this are the defaults? I think it would be great to have the patter on documentation at least.

[code]

[2015-10-27 21:16] es128 commented on #1033
yup, PR welcome

[2015-10-27 21:16] Bartmax commented on #1033
:+1:

[2015-10-27 21:27] Bartmax commented on #1033
fixed with https://github.com/brunch/brunch/pull/1034

[2015-10-29 15:20] chrismccord opened #1035 "autoRequire for windows users fails for backslash paths"
In phoenix, we have reports of windows users' application js not loading https://github.com/phoenixframework/phoenix/issues/1319 , we've tracked it down to here:

https://github.com/brunch/brunch/blob/master/lib/fs_utils/generate.js#L172

our brunch-config looks like this:

[code]
But for windows users `joinKey` is `"js\app.js"` (note backslash)

The result is the autoRequire feature is ignored. I

[2015-10-29 19:28] es128 commented on #1035
The most obvious solutions to this within brunch could turn out to be problematic for someone else's use case, such as a project developed only by Windows users that already uses backslashes in the path keys.

It's not all that pretty, but a potentially immediate solution to this for a cross-compatible project is

[code]

[2015-10-29 19:57] paulmillr commented on #959
done

[2015-10-29 19:57] #959 closed

[2015-10-29 20:09] ghostd commented on #1035
Hi,

For now, I don't have a windows machine to check that; but could be this related to the slash config replacement?
https://github.com/brunch/brunch/blob/master/lib/helpers.js#L150

By the way, why do we replace '/' by '\' on windows ? According to the node documentation, node handles '/' on windows:
https://nodejs.org/api/path.html#path_path_isabsolute_path

Should not we replace all backslash

[2015-10-29 21:04] es128 commented on #1035
@ghostd that's a good catch actually. That helper was added to address the equivalent issue in other parts of the config. Having it do the same thing for everything within `autoRequire` should be a good fix.

Then we'd have to do the opposite operation in case users use backslashes in their configs. There's more to it than just whether it would work in a node `fs` or `path` operation, it needs to

[2015-10-29 21:09] paulmillr commented on #1035
yeah

[2015-10-29 21:27] ghostd commented on #1035
@es128 imho, it's more natural for "brunch" dev beginners (like me) to handle paths with slashes than the opposite. A couple of days ago, i wanted to write some unit tests and broke the 'replaceConfigSlashes()' spec with my little refactoring. I needed some minutes to understand brunch converted the path into a non posix way.

But, maybe it's too risky/invasive to make this switch now.

[2015-10-29 21:31] es128 commented on #1035
Or maybe you've correctly pointed out that the old approach was a mistake. The next release will be a major version bump, it's a good time to attempt switching it to work the other way.

[2015-10-30 19:59] #1033 closed

[2015-11-10 23:49] paulmillr commented on #1026
@ceremcem are you able to reproduce the issue?

[2015-11-10 23:51] #1020 closed

[2015-11-13 19:22] marcaddeo opened #1037 "How to replace Bower with npm for frontend dependencies in Brunch?"
Hey guys,

Now that Bower has [apparently ceased development](https://twitter.com/nachocoloma/status/663622545162280960) and is "dying", how does one go about using `npm` for frontend dependencies like `jquery`, `bootstrap`, etc.?

Is Brunch smart enough to look into `node_modules` and differentiate between things like brunch plugins, sass compilers, etc. and frontends dependencies like `jquery`?

[2015-11-13 20:00] paulmillr commented on #1037
We need to solve a bunch of issues to make this solid. https://github.com/brunch/brunch/issues/1023

[2015-11-14 05:05] paulmillr commented on #1037
Please keep looking into gh-1023, we'll be focusing on it pretty soon.

[2015-11-14 05:05] #1037 closed

[2015-11-15 15:09] milgner opened #1038 "NPM: performance with large packages"
Brunch: 1.8.5
Node: v3.0.0
Npm: 2.13.3

First the initial problem:

Working on a [Phoenix](http://phoenixframework.org/) project, after adding `material-ui` to my `package.json`, brunch stopped working. I first increased the `nofile` ulimit to 100.000, which then resulted in the error:

[code]

Not sure how to go about addressing this. My brunch config is still unchanged from the [default template

[2015-11-16 01:11] paulmillr commented on #1038
I would suggest to use standalone files for now. Performance may definitely be a concern until we rework it.

[2015-11-16 09:46] milgner commented on #1038
For now I have switched to webpack to get things working, but I wanted to notify you about the problem with large NPM modules. Brunch certainly feels great, keep up the good work!

[2015-11-16 11:47] #1038 closed

[2015-11-17 09:27] dempfi commented on #1023
any news on this?

[2015-11-18 02:40] #1035 closed

[2015-11-18 02:41] paulmillr commented on #1035
Fixed.

[2015-11-20 22:45] bigp opened #1039 "Add transition for old brunch new"
Hey, I'm not super familiar with nodejs / npm and whatnot, but once upon a time brunch used to work.

And now after trying to update my Nodejs installation with NVM (for windows) and reinstalling brunch 2.0, at least now I can see the "brunch -V" version number, but I can't create a new project from any skeleton URL.

See stacktrace error below:

	W:\_WORK\>brunch new "gh:brunch/dead-simple" brunc

[2015-11-20 22:49] es128 commented on #1039
The `brunch new` command has changed in 2.0.

Take a look at the docs at https://github.com/brunch/brunch/blob/master/docs/commands.md#brunch-new

[2015-11-20 22:49] bigp commented on #1039
Nevermind, apparently I was using the parameters in the wrong order.

It's `brunch new outputDir skeletonURL`.

[2015-11-20 22:49] paulmillr commented on #1039
@bigp it's `brunch new path -s skeleton`

[2015-11-20 22:49] bigp commented on #1039
@es128 Thanks just noticed that now.

[2015-11-20 22:50] paulmillr commented on #1039
although we should probably make this as clear as possible, for folks who are used to old stuff

[2015-11-20 22:51] paulmillr commented on #1039
@bigp and for the dead-simple you don't need to pass any command. just `brunch new path`

[2015-11-20 22:52] #947 closed

[2015-11-20 22:54] #1016 closed

[2015-11-21 01:07] paulmillr opened #1040 "Autoreload doesn't seem to be solid"
not sure what happens here

[2015-11-21 01:07] paulmillr opened #1041 "The config error message should mention brunch-config, not config"

[2015-11-22 00:14] MaffooBristol opened #1042 "Node 4 requirement for Brunch v2 not obvious enough"
Please could you advise, and I may be completely wrong in this, but doesn't v2 introduce ECMA6 language changes that will cause Brunch to break when using node.js? If so, why is this not written in the documentation or on the website anywhere? (the main site says it relies on node)

I had a circleci build, using a node container, that kept failing at the `brunch build --production` stage. On close

[2015-11-22 07:11] es128 commented on #1042
Well, yes, breaking changes, hence the major version bump. The changelog mentions that this version requires node >= 4.0, but I agree it should say so in the readme as well. Also the package.json `engines` field should be utilized to hopefully provide better error messages in this situation.

[2015-11-22 10:50] paulmillr commented on #1042
1. We should update the site
2. We should update docs
3. We should throw an explicit error for node v4<

[2015-11-22 11:25] paulmillr commented on #1042
3 done

[2015-11-22 11:25] paulmillr opened #1043 "Add ESLint to lint Brunches source code"

[2015-11-22 11:38] paulmillr opened #1044 "Brunch: Research how we can reduce the # of dependencies / installation time."
Right now Brunch pulls 331 NPM modules which may take up to 3 minutes even on a good connection. This is very bad / long.

[2015-11-22 11:39] paulmillr commented on #1044
Full list of deps now:

[code]

[2015-11-22 12:46] MaffooBristol commented on #1042
Ah, it's a later version of node not io.js. I'm clearly quite out-of-date with node releases; I didn't realise it had jumped so many versions/incorporated iojs commits in the past few months.

Thanks for taking the time to address the issue :smile:

[2015-11-23 05:39] mcfarljw opened #1045 "Post onCompile string replaces not working"
I just noticed that post onCompile string replaces aren't working consistently using version `2.0.0` and `2.0.1`. The replace doesn't work at all when build is run. When the initial watch is started replaces don't happen either, but it *sometimes* replaces things when files are changes during the watch.

When I revert back to `1.8.5` post string replaces work properly.

[code]

[2015-11-23 11:26] MartinMuzatko opened #1046 "Order is not used for requirements"
Hello there.
After reading the guide and the docs, there are still things unclear.

On first build, I saw that files are not compiled in the correct order.
Then I prepended main.less (which includes all less files in the right order, so brunch doesn't actually have to care about manually compiling each single file.

So I added ```order: before: ['less/main.less']``` to my config.
However, this did

[2015-11-23 14:29] es128 commented on #1046
@MartinMuzatko Brunch does not concatenate the source files, only the generated css. It's still up to you to use `@import` statements if your files depend on each other for variables and such. And once you do that, you no longer want Brunch directly compiling the dependency files that will be brought in by other means. Brunch has the convention that you'd name all the include files with an undersc

[2015-11-23 14:29] #1046 closed

[2015-11-23 14:52] MartinMuzatko commented on #1046
@es128 by default, less concatenates the sources via the @​import keyword. (in the main.less file)
I think this issue belongs to  [less-brunch](https://github.com/brunch/less-brunch), and this existing issue ( https://github.com/brunch/less-brunch/issues/2#issuecomment-5005924 ) already adresses the problem, I think.

I did the same as described in the comment: import all files in their correct or

[2015-11-23 15:06] es128 commented on #1046
@MartinMuzatko that comment is talking about the same thing I tried to explain, but it seems you're not understanding the point.

Your `main.less` is part of the solution, but you still have an issue where Brunch is trying to compile the imported files directly. You need to prevent that by either:

1. renaming each of the imported files to be prefixed with an underscore, such as `app\less\_compone

[2015-11-24 08:06] MartinMuzatko commented on #1046
Alright, thank you for the clarification @es128

[2015-11-27 13:43] mccricri opened #1048 "Plugin lint function does not get the good "this""
Since version 2.0 (nodejs 5.1.0), it seems that we don't get the good 'this' object in the lint function

[code]

Display :
[code]

'this' is still good in the compile function.

[2015-11-27 19:36] jingweno opened #1049 "`app.js` in `joinTo` includes everything in `vendor`"
I have the following setup:

[code]

`app.js` includes everything in `vendor` but `vendor.js` only includes things in `vendor`. The regexp `/^app/` doesn't seem to work properly...

[2015-11-27 19:51] es128 commented on #1049
Use the `--debug` switch to see how brunch is finding and joining files. See if you have a symlink somewhere under `app` that points to `vendor`.

[2015-11-27 19:51] #1049 closed

[2015-12-04 22:01] ghostd commented on #1008
I can't reproduce this with the master branch.
@paulmillr @es128 ?

[2015-12-04 22:18] es128 commented on #1008
@nervo have you been able to reproduce this with brunch v2?

One other idea is that perhaps a symlink is involved.

[2015-12-04 22:39] ghostd commented on #1021
It correctly works for me (with the master branch)

[2015-12-05 11:04] istr commented on #1021
@ghostd Thanks, will re-try with current master.

[2015-12-05 17:45] paulmillr commented on #1008
Closing until someone reproduces this with 2.0.

[2015-12-05 17:45] #1008 closed

[2015-12-05 17:47] paulmillr opened #1053 "Import error should be thrown more reasonably"
1. Create `brunch-config` (we still support `config.js` etc)
2. Do `require('crap')` inside `brunch-config`.
3. Brunch would throw incorrect error: that `config.js` is missing. Requiring invalid module inside `brunch-config` throws the same `MODULE_NOT_FOUND` error.

[2015-12-05 17:48] #1045 closed

[2015-12-05 17:49] #1048 closed

[2015-12-05 18:15] #1042 closed

[2015-12-05 19:55] paulmillr commented on #1044
duplicates:

[code]

[2015-12-05 21:17] #1021 closed

[2015-12-06 12:37] paulmillr opened #1054 "Skeleton caching"
A nice off-line feature to have.

[2015-12-06 12:40] nervo commented on #1008
Yep, good solution.
I no longer use brocoli, but i guess that if this issue remains, someone will notify :)

[2015-12-06 18:19] ghostd commented on #1044
npm 3 should fix this or i'm wrong about your issue?

https://github.com/npm/npm/releases/tag/v3.0.0 (paragraph 'https://github.com/npm/npm/releases/tag/v3.0.0')

[2015-12-06 18:53] paulmillr commented on #1044
No. I just want less dependencies == less time to install.

[2015-12-06 20:43] ghostd commented on #905
@paulmillr Since the PR of @es128 was merged, and brunch was released, is it still an open issue?

[2015-12-06 20:45] es128 commented on #905
@ghostd you're right, this should have been closed

[2015-12-06 20:45] #905 closed

[2015-12-06 21:06] jelloul opened #1055 "test"

[2015-12-06 21:25] #1055 closed

[2015-12-06 22:40] es128 commented on #1044
Perhaps we should give http://greenkeeper.io/ a shot to help with this.

[2015-12-07 21:33] darren131 opened #1056 "build -p error"
When running `brunch b -p` (or `brunch -e production`) I get this massively cryptic error:

`error: [TypeError: Cannot read property 'toString' of undefined]`

Has anyone encountered this – or could point me in the right direction? Thanks!

Here's the contents of my package.json
[code]

and here's the contents of my brunch-config

[code]

[2015-12-07 22:19] paulmillr commented on #1056
`-d` output would be great. could you create a gist with that?

[2015-12-07 22:22] darren131 commented on #1056
@paulmillr sure thing – wish I'd known about -d before posting this thread...

Gist here:
https://gist.github.com/darren131/74c1253ccf76d47a859a

Thanks!

[2015-12-08 03:10] WeKyle commented on #1056
I'm having a similar error when building for production, however I bump into it with Uglify instead of PostCSS.

[2015-12-08 21:23] paulmillr commented on #1056
Folks, it would be extremely helpful if you could provide a test repo with that. Could you do this please?

[2015-12-08 21:27] darren131 commented on #1056
@paulmillr sure – here's the repo including all the things: https://bitbucket.org/crafttheweb/jointswp (sorry – no github)

[2015-12-08 23:27] jethrolarson commented on #1023
I can say that not being able to use npm dependencies out of the box is jarring and a big time-sink. Especially surprising since adding brunch plugins with npm is so easy.

[2015-12-08 23:43] WeKyle commented on #1056
@paulmillr The repository I'm working on is my employer's, not mine, so I created a repository that very simply recreates what I'm running into [here](https://github.com/WeKyle/brunch-error).

Running `brunch b -p` should cause the error.

[2015-12-09 21:01] marcelotmelo commented on #1039
Please change the page at http://brunch.io/skeletons.html. It still has the old style examples (on the top of the page).

[code]

[2015-12-09 21:20] paulmillr commented on #1039
@marcelotmelo done

[2015-12-10 02:19] #1056 closed

[2015-12-10 02:20] paulmillr commented on #1056
@WeKyle @darren131 thanks for this! Fixed.

[2015-12-10 02:21] paulmillr commented on #1056
2.0.4 is up.

[2015-12-10 02:23] darren131 commented on #1056
@paulmillr you're a bloody legend! Thanks

[2015-12-10 02:44] paulmillr opened #1057 "Long builds: better UX"
Once 5 seconds have been passed through the build, we should say something like "Compilng...".

The current behavior may seem as unresponsive to users.

[2015-12-10 04:52] paulmillr opened #1058 "Skeletons page is broken on mobile"

[2015-12-10 10:43] kosssi commented on #1023
:+1:

[2015-12-12 05:19] sabrehagen opened #1060 "Upgrade Express Version"
Currently your `package.json` specifies express `3.3.0` but the current release of express is `4.13.3`. When writing a custom server this poses an issue as functionality available in express `4.13.3` is not available due to the version specified by your `package.json`. Seeing as express is only being used in your tests to serve static files, this shouldn't pose any breaking changes if you update t

[2015-12-13 00:38] paulmillr commented on #1060
`pushserve` is used with express 4 for "server".

package.json mentions it as devDependency which doesn't really matter, yep

[2015-12-13 00:38] #1060 closed

[2015-12-13 00:39] paulmillr commented on #1060
40c5d6345416d50b2d6e3cb5e125cb4b463be9c7

[2015-12-13 09:48] KrishnaPG commented on #935
Has this been implemented? If so, where can one find more information on how to use this feature?

[2015-12-14 04:09] #760 closed

[2015-12-14 04:10] #843 closed

[2015-12-14 16:30] #1057 closed

[2015-12-14 16:53] es128 commented on #935
@KrishnaPG no, this has not been implemented

[2015-12-15 01:39] #1053 closed

[2015-12-15 09:33] KrishnaPG commented on #935
Thank you @es128

In the current version, is it possible to make brunch work recursively (e.g., parent folder has a brunch config that specifies the include paths of children brunch configs in their own directories, and when `build` is run on the parent, all children will be built recursively) ?

Any plugin or workaround will also be helpful.

[2015-12-15 19:04] goshakkk commented on #1040
Steps to reproduce?

[2015-12-15 21:33] erlandsona opened #1065 "Need to concatenate styles before running Sass?"
Is there a way with brunch to concatenate all the .scss files before running them through the sass plugin? And then using the order: before: to put the "sass dependencies" (variables, mixins, etc...) at the top of the file...

I'm trying to migrate a project from folders by type to folders by feature. Read: https://github.com/borisschapira/brunch-with-a-sassy-zigzag/tree/master/app

But given that

[2015-12-15 21:37] es128 commented on #1065
Don't want to search for it, but this has been requested in the past. Brunch is not currently set up to allow for pre-compile concatenation. Might be possible with a clever plugin, but it's probably an uphill battle.

[2015-12-15 22:46] paulmillr commented on #1040
Twst the autoreload in different browsers. Try css changes, js changes, asset changes. Anything weird happens?

[2015-12-16 03:42] paulmillr commented on #1024
The default one is dead-simple since 2.0, closing

[2015-12-16 03:42] #1024 closed

[2015-12-16 04:55] ryansobol opened #1066 "Rename to whitelist and blacklist"
If `npm.packages` and `npm.exclude` are here for a while, is there any chance they could be renamed to `npm.whitelist` and `npm.blacklist` respectively?

https://github.com/brunch/brunch/blob/master/lib/deppack.js#L153

[2015-12-17 02:47] paulmillr commented on #1066
Good idea. cc @goshakkk

[2015-12-17 02:55] paulmillr commented on #1066
although we have `off` and `on` for plugins.

[2015-12-19 14:14] Immortalin commented on #1023
What's the status on this now?

[2015-12-19 17:16] paulmillr commented on #1023
@Immortalin check out `master`, we've done a good progress there

[2015-12-20 21:51] hughes commented on #971
Can also confirm that setting `atomic_save=true` in Sublime Text 3 solved this.

[2015-12-21 17:13] vmkcom opened #1072 "brunch 1.8+ build sometimes skip files on Ubuntu"
I have strange issue with ubuntu 14.04 and brunch 1.8.0+ (include 2.x versions)
Some of my production brunch builds makes a corrupted template .js file. Brunch just build not all of my files in my templates folder. Strange behaviour reproduces only with big folder (128 files) and working great with other small folders

I'm testing brunch build feature with loop command and only one static-undersco

[2015-12-21 18:25] paulmillr commented on #1072
Fcache has nothing to do with it. Could you provide a test repository? I would download ubuntu to a VM and test your case there.

[2015-12-21 19:35] vmkcom commented on #1072
ok, give me some time, I'll try to prepare some test data

[2015-12-22 14:48] vmkcom commented on #1072
hm... I can't reproduce that bug with test data, only with production. Seems file size & complexity for brunch has some effect.

I can't share production templates right now. So we can close issud, I'll try to reproduce bug by myself.

Anyway it would be nice to have option for disable caching for production builds. For me - it's fixes problem

[2015-12-22 18:07] julienbrument opened #1073 "JS code into Css when use NPM"
Hi guys,

I have an issue when I use npm packages with brunch, that's adding a javascript code to my css file.

I use:
OS: OS X 10.10.5,
Node: 4.0.0,
Brunch: 2.0.4

My brunch-config:
[code]

Css output file:
[code]

If npm is disabled, works like a charm. I made a mistake somewhere ? or unexpected behavior ?

Thank's for this amazing tool.

[2015-12-22 19:45] paulmillr commented on #1072
Which caching? How do you disable it?

[2015-12-23 09:40] vmkcom commented on #1072
I mean that log string
[code]
cached feature was added by 1.8+ version, so I'm just using 1.7.20 version for now. But, if I made brunch 1.8 without caching feature (just copying code from 1.7.20), everything working nice.

Trying to reproduce bug on other plugins (css, js, not templates)

[2015-12-23 11:21] denar90 opened #1074 "Using aliases"
Hi. My app has very deep folder structure. `app` - my root folder.
For example: I want to use one module in `app\admin\modules\controller.js` file. To get files from `app\admin\modules\login\views` folder I have to do this
[code]
Can I set some aliases or something to do for example `require('./views/loginLayout');` or `require('.app/admin/modules/views/loginLayout');` ?

Thank you for help)

[2015-12-23 15:43] ghostd opened #1075 "Wrong handling of cli options"
Hi,

I was testing [flow](http://flowtype.org/) againt brunch and i found this bug in watch.js (options should not be quoted):
[code]

It seems the bug is here since the start of the feature:
https://github.com/brunch/brunch/commit/a88d5cc8849c0d168675434d78785a8371a19131

So, should we fix it or remove it?

[2015-12-23 16:19] paulmillr commented on #1075
fix.

[2015-12-23 16:20] paulmillr commented on #1072
Brunch 1.8 didn't enable caching. It just started writing down detailed logs of compilation. The caching was there since brunch 1.1 at least.

[2015-12-23 16:35] ghostd commented on #1075
https://github.com/brunch/brunch/pull/1076

[2015-12-23 17:13] vmkcom commented on #1072
I mean https://www.npmjs.com/package/fcache package. Maybe problem with it

[2015-12-23 18:18] #1075 closed

[2015-12-24 10:44] allyraza opened #1078 "Uncaught ReferenceError: process is not defined"
I am trying to compile some js files with brunch, have a bit of trouble when I have npm=true it targets the index.js file or module_name.js in my case react.js from node_modules/react/react.js how do I load node_module/react/dist/react.js instead

[2015-12-25 07:02] denar90 commented on #1074
Figured this out.
If you want include module from same folder
`require('./views/loginLayout');`
If you want include module from parent
`require('admin/modules/views/loginLayout');`

Issue can be closed.

[2015-12-25 07:02] #1074 closed

[2015-12-25 07:03] paulmillr commented on #1078
Are you using brunch from github (`npm i -g brunch/brunch`)? Older versions support of npm is very bad.

[2015-12-25 07:04] paulmillr commented on #1073
Good catch. Our NPM support is quite bad in `2.0`. We're going to fix this pretty soon. 2.1 from master should help a bit.

[2015-12-27 10:09] jean opened #1080 "Specify node version on install?"
I installed phoenix and created a new app including dependencies:

[code]

This completes without error, but results in a broken install:

[code]

Suggestion: specify node version in `package.json` (`engines` field).

[2015-12-28 00:02] MentalGear opened #1081 "Minify HTML"
Is there a minify HTML plugin available for brunch?
Or is it possible to import one from gulp ?

[2015-12-28 00:17] MentalGear commented on #1081
Mh.. this jade plugin seems pretty sweet (maybe even better than the ones advertised on the official plug-in pages) and allows html min when compiled from jade. Is there a reason this one isn't listed on the brunch plugin page? It's pretty well documented!

https://www.npmjs.com/package/jade-pages-brunch

[2015-12-28 00:18] MentalGear commented on #1081
Mh.. this jade plugin seems pretty sweet (maybe even better than the ones advertised on the official plug-in pages) and allows html min when compiled from jade. Is there a reason this one isn't listed on the brunch plugin page? It's pretty well documented!

https://www.npmjs.com/package/jade-pages-brunch

[2015-12-28 01:15] paulmillr commented on #1080
`engines` field is deprecated, isn't it?

[2015-12-28 03:41] #1043 closed

[2015-12-28 09:01] jean commented on #1080
AFAICS `enginesStrict` is deprecated, not `engines`.
On Dec 28, 2015 3:15 AM, "Paul Miller" <notifications@github.com> wrote:

[2015-12-28 19:47] erlandsona opened #1082 "preCompile broken in 2.0.*"
I'm trying to use the preCompile key in my brunch-config.coffee but it only works with the syntax specified in the before and after-brunch plugins if I'm on brunch version 1.8.5... preCompile does not work with brunch@2.0.*

brunch-config.coffee
[code]

[2015-12-29 04:47] paulmillr commented on #1081
The owner of that plugin haven't added it to the page (it's a manual procedure). We'll need to add it there.

[2015-12-30 17:06] GesJeremie opened #1084 "Change convention assets folder - Brunch 2.0.1"
From what I saw it's possible to change the folder's name of the **assets** folder, is it possible to change where the folder is (Move it from **app** folder to the **root** folder) ?

If it's possible, what I need to set in the brunch-config file ?

Kind regards,

Jérémie

[2015-12-30 18:23] paulmillr commented on #1084
The first one is `paths.watched`, the second one is `paths.public`. Check out the docs: https://github.com/brunch/brunch/blob/master/docs/config.md

[2015-12-30 18:23] #1084 closed

[2015-12-30 18:41] GesJeremie commented on #1084
In paths.watched how I can say the entity "root" ? Like that ?

[code]

[2015-12-30 18:52] paulmillr commented on #1084
Not possible i'm afraid.

[2016-01-01 12:57] #1080 closed

[2016-01-01 15:26] #1078 closed

[2016-01-01 15:33] #1066 closed

[2016-01-01 17:06] #1073 closed

[2016-01-01 17:06] paulmillr commented on #1073
Try 2.1 @julienbrument

[2016-01-01 23:16] paulmillr commented on #1023
Hey everyone:

- Check out brunch 2.1 which should be on NPM now.
- To use NPM, see the instructions: https://github.com/brunch/brunch/blob/master/CHANGELOG.md

Any feedback is appreciated.

[2016-01-02 01:21] tprk77 commented on #971
This is affecting me as well. I'm on Xubuntu 14.04, Node 4.2.4, Brunch 2.0.4.

I'm using Emacs 24.5.1. I also saw the issue using Mousepad 0.4.0 (the Xubuntu default editor). I could not reproduce the issue using Nano 2.4.2. (Weirdly enough, using Emacs it works for the first save after starting `brunch w`, but not for any following save.)

I don't think Emacs has an "atomic save" option...

[2016-01-02 01:40] tprk77 commented on #971
Tested again with Brunch 2.1.0 and I'm still running into this problem.

I did notice something about the Emacs save though:

So it looks like it's moving the file and then writing a new one. I think that makes sense, seems to explain the issue. (I guess Mousepad is doing something similar, too.)

[2016-01-02 03:42] Immortalin commented on #1023
@paulmillr does brunch compile the whole module or only files that have been required? E.g. I may have some files in the module that I do not want to be served etc.

[2016-01-02 08:16] denar90 opened #1085 "specs folder is being ignored during build"
I have folder `specs` and files in it is be being ignored during build. If I rename `specs` to `test` or `whatever` - everything is fine. Here my config
[code]

[2016-01-02 09:01] paulmillr commented on #1085
You need to add specs to config.paths.watched. The property specified a list of folders that are in the app. By default it's: app, vendor, test.

[2016-01-02 09:01] #1085 closed

[2016-01-03 07:48] paulmillr commented on #1023
@immortalin i'm actually not 100% sure at this point. It may not include the whole thing

[2016-01-03 08:51] Immortalin commented on #1023
@paulmillr when I tried to use [blockly]() with brunch, I got the following error:
[code]

[2016-01-03 09:31] paulmillr commented on #1023
@Immortalin you need to use brunch 2.1+. Also, `npm.whitelist` not `npm.packages`.

[2016-01-03 09:38] Immortalin commented on #1023
@paulmillr I am using 2.1+, switching to whitelist fixed the problem. Thanks!

[2016-01-03 09:53] paulmillr commented on #1023
@Immortalin there is no `blockly` package on npm, is there? http://npmjs.com/package/blockly

[2016-01-03 10:14] Immortalin commented on #1023
@paulmillr it's included in my package.json, from the github repo directly.

[2016-01-04 07:48] ajantiss commented on #1023
@paulmillr, I'm currently trying to make work (or at least collocate) brand new brunch 2.1.1 and angular2 (available as npm package and declared in my package.json).

I just added to my current brunch config:
[code]

However when executing brunch I get also following error:
[code]

Thanks for any hint about such brunch/angular2 deployment, Basically I try to have this angular2 tutorial working in

[2016-01-04 10:33] goshakkk commented on #1023
@ajantiss this is caused by angular2 not having the `main` set in package.json. The npm integration currently builds the dep graph starting from each dep's main and recursively scans for `requires`.

We may add something like, include all package files if there is no main or something, but that might be undesired (i.e. by increasing the build size regardless of whether any or package's files are u

[2016-01-04 10:40] goshakkk commented on #1023
@Immortalin this is caused by blockly not specifying the `main` as well, although it's slightly different in this case and probably easier to address. One way could be to specify `overrides` (brunch + npm currently does not support that, but it should be more or less trivial to add it.

Glancing at the [blockly build](https://github.com/google/blockly/blob/master/blockly_uncompressed.js), I notice

[2016-01-04 10:48] liveforeverx commented on #1022
I'm getting this error after `npm install` and after some adding in dependencies, and now I do not know, nor how to find, why it happen, what to change back, that it doesn't happen, after trying to uncomment code, which I written, it simply doesn't help. For me, somebody who isn't JS developer, this is really undebugable.

[2016-01-04 11:05] lpil commented on #1022
Hi Dmitry. Could you try bumping your brunch version to 2.1.1 in your brunch config?

[2016-01-04 11:09] liveforeverx commented on #1022
@lpil : Yes, error is more descriptive now:

[code]

`index.js` is not defined here, but, I do not understand, why it tries to find `index.js`

[2016-01-04 11:18] liveforeverx commented on #1022
@lpil But, if I copy needed JS files and remove angular2 from npm, than I can at least avoid a problem. Thanks!

[2016-01-04 11:21] lpil commented on #1022
Sorry I couldn't help more, my JS is iffy at best!

[2016-01-04 17:01] liveforeverx commented on #1022
I've tried to use js files directly in vendor(copied needed files and remove dependencies, which was giving a problems)and now another error, which gives no information, what going wrong:

[code]

[2016-01-05 06:24] JoelPM commented on #1023
I'm seeing a problem similar to that reported by @Immortalin when using brunch 2.1.1 with the broofa/node-uuid module. brunch build reports:

04 Jan 22:19:25 - error: Initialization error - Error: ENOENT: no such file or directory, open 'crypto'
  at Error (native)

I believe the issue is related to the way the crypto module is required dynamically if node-uuid thinks it's running on the server. R

[2016-01-05 08:08] paulmillr commented on #1023
This seems to be a different problem. @goshakkk

[2016-01-05 09:01] chrismcg opened #1090 "brunch build on new project hangs"
Running brunch build on a new project generated from the template builds but doesn't exit.

Brunch 2.1.1, Node 5.3.0, OS X 10.9.5 (Also happening on CI server with Ubuntu)

To reproduce:

[code]

I see:

[code]

However the build never terminates so any CI or production asset compilation hangs.

[2016-01-05 09:02] goshakkk commented on #1023
@JoelPM indeed it's not related. Happens because we are currently not handling shim requires during dependency discovery properly. #1089 should fix this one
cc @paulmillr

[2016-01-05 09:04] chrismcg commented on #1090
Same if I do:

[code]

To get latest master

[2016-01-05 09:28] chrismcg commented on #1090
In my actual app I tried 2.1.0, 2.0.0, which still had the same problem. 1.8.5 terminates correctly.

[2016-01-05 13:04] paulmillr commented on #1090
Could you please paste the output of `brunch build -d`?

[2016-01-05 13:12] chrismcg commented on #1090
[code]

[2016-01-05 18:26] mcfarljw commented on #1090
I'm having the same issue using with version `2.1.1` as well.

[2016-01-06 01:20] mordra opened #1094 "Adding react through config.npm throws: Cannot find module 'c:\code\brunchtest\node_modules\react\lib\React.js\package.json'"
On windows 8, simple test app with react throws a compile error:
[code]

brunch-config
[code]
package.json
[code]

[2016-01-06 15:52] fabienL opened #1096 "Brunch Plugin compiling"
I have written a plugin to add timestamp in files :https://www.npmjs.com/package/timestamp-brunch

It work well in my local env (windows 7) but i have an issue on Jenkins when i build the app.

Brunch seems to loop in compiling several times.

The log in jenkins :
compiling...compiling...06 Jan 16:26:43 - [32minfo[0m: compiled 21 files into 6 files, copied 86 in 8.4 sec
Wed, 06 Jan 2016 15:26:43

[2016-01-06 23:53] paulmillr opened #1097 "Investigate the ability to work with Redux hot reload"

[2016-01-07 05:40] jondlm commented on #1094
I think you have to add `config.npm.whitelist`, in addtion to your `config.npm.enabled`, which is an array of whitelisted packages. See if that helps.

[2016-01-07 05:56] mordra commented on #1094
I did add that without success, then I read a bit more and it says that any packages without brunch will be added to the front end.

Also, all the whitelist does is actually makes it available to package for the front end, the fact that the error is **looking** in the react module should mean that it is being whitelisted shouldn't it?

[2016-01-07 06:02] jondlm commented on #1094
Yeah, I'm not sure beyond that :confused:

[2016-01-07 09:42] mordra commented on #1094
I think he's sorting it out in the other issue as part of a whole NPM rewrite. Looks like there are still alot of existing issues. I've gone back to webpack for the time being but not happy about how complex it is to do anything. Thanks for trying to help.

[2016-01-07 12:02] paulmillr commented on #1094
@mordra Brunch 2.1 requires `whitelist` to be specified; Brunch 2.2 would not require that. We're in the process of making Brunch figure out the package list based on app's code.

[2016-01-07 13:56] fabienL commented on #1096
ok, i fix it with fileListInterval params in my config

[2016-01-07 15:08] tprk77 commented on #971
Pull request #1093 added a new flag to the watcher config called `awaitWriteFinish`. If you set it, the compile should work despite whatever your editor is doing. @maxlath do you think we can close this issue?

[2016-01-07 17:04] Florian-R opened #1101 "Add ability to only lint files."
Related to #988 in some way

Use-case: I just want to lint my specs with the watcher, but without the extra compile.

Actually, files are linted only if they are watched (or at least it seems so, let me know if I'm wrong).

Problem is that watching specs without putting them in a joinTo cause warns like:
`warn: test/foo.js compiled, but not written. Check your javascripts.joinTo config`

So I've t

[2016-01-07 17:48] maxlath commented on #971
@tprk77 the Sublime parameter was the fix for me, so I didn't test your solution, but from what I can see, it seems to address the right problem. So if the project maintainers agree, I guess that can be closed indeed

[2016-01-07 17:59] #971 closed

[2016-01-07 18:01] paulmillr commented on #1101
There are no plans to add 1-to-1 compilation in the near future. You'd need to concatenate everything into 1/2/etc files, or compile the stuff.

Are you able to concatenate specs into one?

[2016-01-07 20:59] chrismcg commented on #1090
Confirming that latest master fixes the problem here. Thanks!

[2016-01-07 22:04] chrismcg commented on #1090
Now I'm seeing:

[code]

When I run a build. It goes away when I use --debug :(

[2016-01-07 22:45] paulmillr commented on #1090
@chrismcg update to brunch from npm, it's fixed there

[2016-01-07 22:45] #1090 closed

[2016-01-07 22:48] chrismcg commented on #1090
Fantastic, thanks!

[2016-01-08 09:02] Florian-R commented on #1101
Compiling specs into an extra file even if this is not needed solve it indeed, I' hadn't  thought about this possibility.

There's always the compilation on spec change which cause trouble in my case, but that's another issue.

Closing for now, will reopen if I find compelling use-case or a better API to fit this case.

Thanks for your input.

[2016-01-08 09:02] #1101 closed

[2016-01-08 17:28] Bartmax opened #1102 "Question: Workflow for different areas."
I'm developing a website, public and an admin side. Both "areas" are very different and uses different libraries, on same project.

Is there any recommendation or how one should configure brunch in a way that it handles dependencies for the admin area different than the ones used on the public area ?

For example purposes imagine :

Admin uses:
- bootstrap 3.3.6
- jquery 2.1.4
- datatables
- holde

[2016-01-09 14:14] paulmillr commented on #1102
Two ways:

1. Make two Brunch apps, build everything into one folder etc.
2. Make one brunch app, place admin files in `vendor/admin`, concatenate the result to `public/admin/vendor.js` & `public/admin/app.js`; and the public to `site/vendor.js` & `site/app.js`.

[2016-01-11 14:37] dsiddharth2 opened #1106 "Unable to download any skeleton"
$ brunch new gh:oddpixel/brunch-steak test-project
11 Jan 19:58:25 - log: Cloning git repo "https://github.com/brunch/dead-simple" to "gh:oddpixel/brunch-steak"...
11 Jan 19:58:35 - log: Created skeleton directory layout
11 Jan 19:58:35 - log: Installing packages...
/usr/local/lib/node_modules/brunch/node_modules/init-skeleton/index.js:42
  process.chdir(rootPath);
          ^

Error: ENOENT: no s

[2016-01-11 15:15] paulmillr commented on #1106
What is your node.js version? Could you try updating to the latest node?

[2016-01-11 15:16] paulmillr commented on #1106
Actually the syntax is invalid. It should be: `brunch new test-project -s gh:oddpixel/brunch-steak`

[2016-01-11 15:16] #1106 closed

[2016-01-11 20:08] goshakkk commented on #1041
I think this already was addressed previously

[2016-01-12 02:25] bryanjos opened #1107 "Question: Can compile output multiple results?"
I'm working on a brunch plugin for elixirscript. Currently the elixirscript compiler outputs its standard library along with the user's code compiled to javascript. In the compile function of the brunch plugin, I'm passing in the path to the elixirscript compiler and splitting the output into the separate javascript modules.

Is it possible to send each compile javascript module into the pipeline

[2016-01-12 14:54] paulmillr commented on #1107
See `joinTo` config option. You can specify multiple outputs from the same / similar inputs.

Something like

[code]

[2016-01-12 14:54] #1107 closed

[2016-01-12 17:48] bryanjos commented on #1107
I'm not 100% sure that's what I'm looking for. In my case now I have something like this:

[code]

I'm just not sure if it's possible to send more than one code result into the pipeline in the same call to compile.

[2016-01-12 22:23] es128 commented on #1107
@bryanjos Brunch does not inherently support that currently, and there wouldn't be a point since everything is getting concatenated anyway. But the plugin *could* take responsibility for writing output files on its own if that is desired (with node code APIs like `fs.writeFile`), with or without also providing separate output back to Brunch to be concatenated.

[2016-01-12 22:28] bryanjos commented on #1107
@es128 Thanks! I'll look into doing that.

[2016-01-13 17:55] spyl94 opened #1108 "[NPM] Error using some packages"
Just reporting some errors, I will try to investigate more:

- [x] react-bootstrap (^0.28.2)

Compiling: :+1:
But some modules are in `node_modules` but not found when running the application code:
[code]
Code: https://github.com/spyl94/react-brunch-demo/tree/add-react-bootstrap

- [ ] react-intl (^2.0.0-beta-2)

Compiling: :-1:
[code]

[2016-01-13 18:42] DavidMikeSimon commented on #929
:+1: The output is still misleading, but the info in @bradobro's comment was enough for me to configure my brunch server to behave the way I wanted.

[2016-01-13 23:35] paulmillr commented on #1108
Could you try using the version from GitHub?

[code]

[2016-01-14 11:00] dcaillibaud opened #1109 "howto configure prefix in require.register"
Hi,

I guess this is not a bug but a misunderstood of brunch.

I have the following structure of files (can't change it)
[code]
And I would like to see in foo.bundle.js a `require.register('foo', …)` instead of actual `require.register('component/srcClient/foo', …)`

I tried changing root like this in config
[code]
But it throws
[code]
Is this error normal and is exists a way to achieve what I wan

[2016-01-14 11:40] spyl94 commented on #1108
Using master fixed react-bootstrap :+1:

But support of shims seems to be broken:
[code]
`npm install --save events` and removing `events` from emptyShims in deppack.js can solve the problem.

Compillation of react-intl (^2.0.0-beta-2) is still failing :(

[2016-01-14 12:01] dcaillibaud commented on #1109
Reading the doc I understood that path.watched should be removed from modules names, but in my case it isn't, I don't find why but thanks to https://github.com/brunch/brunch-guide/blob/master/content/en/chapter07-using-brunch-on-legacy-code.md I have a workaround with :
[code]

[2016-01-14 20:18] JHKennedy4 opened #1110 "Question: Does Brunch support multiple entry points for ES6 modules?"
I'd like to specify different entry points for different pages so that I only end up requiring the modules I need on those pages. Is there something like joinTo, but for an entry file instead of a directory? I attempted to just set joinTo to point at a file, and then to a directory with just that file in it, but neither of those approaches has worked.

[2016-01-14 20:33] es128 commented on #1110
Brunch does not do module resolution for your code (as opposed to npm modules) nor incorporate the concept of entry points. You need to specify which source files you want concatenated together with `joinTo`

[2016-01-15 16:34] spyl94 commented on #1108
The problem with `react-intl` is the usage of:
[code]
in their `package.json`, removing it fix the compilation issue.

[2016-01-16 16:15] kyledecot commented on #1108
I'm having a similar issue when attempting to use `react-router`. See:

http://stackoverflow.com/questions/34823964/using-react-router-w-brunch-babel

[2016-01-16 17:37] paulmillr commented on #1108
@goshakkk

[2016-01-16 20:16] MaxDhn opened #1113 "cannot include node modules css"
Hello,

I'm trying to include some css from nodes_modules directory into vendor.css but no result.
This is my config.js :

[code]
node version : 4.2.4
brunch version : 2.1.2
css-brunch: 1.7.0

[2016-01-17 11:06] MaxDhn commented on #1113
sorry, resolve with npm integration.

[2016-01-17 11:06] #1113 closed

[2016-01-17 16:56] harmon25 commented on #1023
Having the same NPM issue with [react-relay](https://www.npmjs.com/package/react-relay)

`error: Initialization error - ENOENT: no such file or directory, open 'domain'
  at Error (native)`

also related to https://github.com/brunch/brunch/pull/1089?

[2016-01-18 21:14] #1108 closed

[2016-01-18 21:19] paulmillr commented on #1023
@harmon25 does using the GitHub version via `npm install -g brunch/brunch` fix it?

[2016-01-18 22:17] kyledecot commented on #1108
I just pulled in the latest brunch from github and I'm still experiencing this.

[2016-01-19 00:30] harmon25 commented on #1023
Thanks for the response @paulmillr,
Sadly no, still getting the same error trying to use `react-relay`.
Am successfully including `react`, `react-dom`, and `jquery` from npm, whitelisted in `config.npm`

However with `react-relay` I receive the error posted above in the console when running `brunch build`.
Having another problem with `react-router` as mentioned in #1108 .
Something to do with the

[2016-01-19 11:43] goshakkk commented on #1108
@spyl94 I've opened a PR with fixes to make your react intl sample work (#1116). Note that for the time being, you're still going to add `events` to your `package.json`. A better shims solution is being designed and implemented.

[2016-01-19 11:45] goshakkk commented on #1108
@kyledecot reporting bugs like that via SO is unhelpful. Do you mind opening a separate ticket for that and including some more details, at least the React Router version you're using; ideally a small sample app that triggers the issues?

[2016-01-19 12:57] kyledecot commented on #1108
@goshakkk at first it was a question for SO as I thought I was just doing something wrong. Only after seeing this issue did I realize that it seemed to be connected. I'll open a new ticket w/ all the relevant details.

[2016-01-19 16:28] goshakkk commented on #1094
@mordra the master version of brunch both got rid of `whitelist` in favor of automatically figuring out what should be added to the bundle, as well as should support fs separators other than `/` (aka `\`) on windows. Can you try it with `npm install -g brunch/brunch` and report how it goes?

[2016-01-19 18:36] webdif commented on #1023
I'm also experiencing some issues with client-side npm integrations.
I installed the Github version, but I have an issue even with v2.1.3 :

[code]

The npm part of config :
[code]

When I switch `enabled` to `false`, the compilation process works.
Any idea?

[2016-01-19 18:52] goshakkk commented on #1023
@webdif it shouldn't occur on master. Is the `brunch` entry in `/Users/Webdif/brunch-npm-test/package.json` pointing to github?

[2016-01-19 19:03] webdif commented on #1023
I tried `"brunch": "https://github.com/brunch/brunch.git"` and `"brunch": "latest"` with no luck. Same error.

[2016-01-19 19:09] goshakkk commented on #1023
@webdif right, I've just submitted #1118 to address that specific one. Can you check if that one works? (`"https://github.com/hellyeahllc/brunch.git#deppack-more-1023`)

[2016-01-19 19:15] webdif commented on #1023
@goshakkk it works! :)

[2016-01-20 09:18] goshakkk commented on #1023
@harmon25 #1119 should fix `react-relay`. Regarding `react-router`, @kyledecot should open an issue for that with more details. If you want, you can open one now (https://github.com/brunch/brunch/issues/1108#issuecomment-172826458)

[2016-01-20 23:52] harmon25 commented on #1023
Hmm still having the same problem with `react-relay`....
Essentially using this https://github.com/Diamond/reactpx example, as soon as I add
`import Relay from "react-relay"` to `app.js`  - along with npm.whitelist in brunch-config my build results in the same error

`error: Initialization error - ENOENT: no such file or directory, open 'domain'
  at Error (native)`

still not sure if the `react-r

[2016-01-21 09:03] dsiddharth2 opened #1121 "ENOENT: no such file or directory, uv_chdir"
brunch watch —server
/usr/local/lib/node_modules/brunch/node_modules/chokidar/node_modules/readdirp/node_modules/graceful-fs/polyfills.js:18
  chdir.call(process, d)
        ^

Error: ENOENT: no such file or directory, uv_chdir
  at Error (native)
  at process.chdir (/usr/local/lib/node_modules/brunch/node_modules/chokidar/node_modules/readdirp/node_modules/graceful-fs/polyfills.js:18:9)
  at Prom

[2016-01-21 09:06] dsiddharth2 commented on #1106
Thanks a lot.

[2016-01-21 09:06] goshakkk commented on #1121
Are you using the master version? If not, can you try one? npm install -g
brunch/brunch
On Thu, Jan 21, 2016 at 12:03 PM Siddharth Deshpande <
notifications@github.com> wrote:

--
Cheers,
Gosha

[2016-01-21 09:10] dsiddharth2 commented on #1121
Yeah I will give it a try now.

[2016-01-21 09:24] dsiddharth2 commented on #1121
No Sorry. Could not make it to work. Do you have any other solution. ?

[2016-01-21 09:34] goshakkk commented on #1121
Can you create a repo with a small app that reproduces the issue?
On Thu, Jan 21, 2016 at 12:24 PM Siddharth Deshpande <
notifications@github.com> wrote:

--
Cheers,
Gosha

[2016-01-21 12:13] dsiddharth2 commented on #1121
Hi,

I tried to create a new project using,
brunch new test-project -s https://github.com/oddpixel/brunch-steak

And tried to start server using,
brunch watch --server

And then stopped using control + c in Mac.

Then went back to older project and ran,
brunch watch --server

It worked like a charm.

I think the problem would be rising when I do not stop server using Control + c, But Still I am no

[2016-01-21 13:57] paulmillr commented on #1121
@dsiddharth2 try removing node_modules and reinstalling packages: `npm install`

[2016-01-22 01:06] mordra commented on #1094
I've got the master branch of brunch but what's really annoying right now is that something is causing my package not to work and there are no console errors.

[code]
This logs 'javascript is enabled' and then goes silent. Nothing...
If I remove the delivered.js reference, then it logs 'hi' and require is undefined (expected). No network issues, no errors.

I've even gone back the most basic app.j

[2016-01-22 09:35] goshakkk commented on #1094
@mordra could it be the case that you forgot to run `npm install` after adding `react` to `package.json`? I just copied your snippets locally and it works like a charm:

[code]

[2016-01-22 11:49] mordra commented on #1094
O_O... it could be. Local version at work, I'll try it first thing monday and update this comment. Thanks for your help!

[2016-01-22 21:04] paulmillr opened #1123 "NPM integration: Throw a descriptive error when some package is not present"
The current error is quite unhelpful:

[code]

Let's throw a descriptive error when such thing happens. See bower implementation.

[2016-01-24 22:34] mordra commented on #1094
@goshakkk Unfortunately no luck, i did `npm i` but react was already installed.

I also started a new project just with my snippets and did a `npm i` followed by `brunch b`, same error.

[2016-01-25 01:37] paulmillr commented on #1094
@mordra try brunch 2.2 which just hit npm

[2016-01-25 01:41] mordra commented on #1094
@paulmillr  I did this but it looks like it's still failing...
The code I'm using is an exact copy of my snippet in a new folder.

[code]

[2016-01-25 02:06] paulmillr commented on #1094
could you try this? `npm install brunch/brunch`

[2016-01-25 02:30] mordra commented on #1094
It gave me a different error which means I'm probably picking up the 2.2.0 version now but still same issue:
I'm on windows 8.1 if it makes any difference, I can try this on a ubuntu 14.04 machine later too.

[code]

[2016-01-25 05:34] colinbate opened #1126 "Brunch removes strict mode from modules"
When brunch bundles files together it uses a function in `deppack.js` called `getNewHeader` which adds the line:

    var require = __makeRequire((req), {...});

to the top of each function. This has the side effect of making `'use strict';` the second line of the function (if it was there in `source`) which then means it doesn't execute in strict mode.

This unfortunately causes an infinite loop

[2016-01-25 09:29] goshakkk commented on #1094
@mordra windows dep resolution issues were caused by https://github.com/substack/node-resolve which didn't properly supply lookup paths. My pull-request to address that was already merged; brunch/brunch#1125 should bump this dep in brunch

[2016-01-25 09:47] goshakkk commented on #1126
Opened #1127 to address this

[2016-01-25 12:53] colinbate commented on #1126
Great thanks.

[2016-01-25 15:35] paulmillr commented on #1094
@mordra I have merged the pull request; please uninstall brunch and execute `npm install brunch/brunch` again.

[2016-01-25 15:37] #1126 closed

[2016-01-25 17:50] colinbate commented on #1126
Any idea when the next version of Brunch will be published with this fix included?

[2016-01-25 18:50] paulmillr commented on #1126
We would need to adjust this fix and test on all platforms. In a few days probably.

[2016-01-25 21:37] #1123 closed

[2016-01-26 15:32] Anaphase commented on #1039
It looks like [the homepage](http://brunch.io) has also been overlooked in regards to the new skeleton command:

[2016-01-26 16:09] #1039 closed

[2016-01-26 19:05] #1110 closed

[2016-01-26 19:06] #1109 closed

[2016-01-26 19:06] #1102 closed

[2016-01-26 19:06] #1096 closed

[2016-01-26 19:06] #1094 closed

[2016-01-26 19:07] paulmillr commented on #1072
How is 2.2.1 lloking for you @vmkcom ?

[2016-01-26 19:07] #1072 closed

[2016-01-26 19:07] #1065 closed

[2016-01-26 19:08] paulmillr commented on #1054
need to release init-skeleton

[2016-01-26 19:08] #1041 closed

[2016-01-26 19:08] #1040 closed

[2016-01-26 19:09] #708 closed

[2016-01-26 19:10] #678 closed

[2016-01-26 19:10] #961 closed

[2016-01-26 19:10] #919 closed

[2016-01-26 19:10] #915 closed

[2016-01-26 19:10] #1026 closed

[2016-01-26 19:17] paulmillr commented on #839
We have NPM overrides and Bower overrides now.

[2016-01-26 19:17] #839 closed

[2016-01-26 19:19] #1081 closed

[2016-01-26 19:27] #958 closed

[2016-01-26 19:28] #1023 closed

[2016-01-26 20:02] nathanhornby commented on #180
Is there a command or option that overrides this behaviour @es128 ?

To be honest I'm struggling to imagine a use-case where you would delete the 'source' but want the 'compiled' version to remain - but surely it has to be the edge case?

[2016-01-26 20:12] es128 commented on #180
I'm not sure how prevalent it is, but several people have definitely reported using it that way. Often using multiple tools writing into the same target dir iirc.

`rm -rf ./public/assets/*` :wink:

There is no brunch option that I'm aware of at this point, but it seems like it would be a useful thing to add. It could probably even be done as a plugin

[2016-01-26 20:51] nathanhornby commented on #180
Fair cop, hadn't considered that.

I'd personally target those resources at brunch's 'source' asset directory, as it's only copying those resources over anyway - however I'm assuming there are alternative workflow options available that contradict that.

[2016-01-26 22:46] mordra commented on #1094
I can confirm my snippets works on v2.2.1 on win8.1 and ubuntu 14.04
Thanks for the speedy fixes :) (sorry I didn't respond yesterday, Australia day national holiday over here)

[2016-01-27 10:42] Florian-R commented on #1072
Ran myself into this one (even with 2.2.1).  After some searches, it appears to be a dupe of #889, increasing the `fileListInterval` through an override for production solve the problem with a slow CI.

[2016-01-27 15:01] Immortalin opened #1132 "Ver is not defined"
On the latest version of brunch,:

[code]

[2016-01-27 18:48] colinbate opened #1134 "Error with parent folder require"
If you have a module dependency in your application like:

[code]

which starts with a relative path pointing to the parent folder it will cause an error in the pipeline when it checks dependencies. It doesn't see this as a relative path in `deppack.js`, as the `isRelative` function just checks it starts with `./`.

If you change the reference to `./../file` it wll work, but obviously that feels u

[2016-01-27 21:47] #1132 closed

[2016-01-28 22:31] jsantari opened #1135 "Skeleton and example for brunch with vuejs"
Does anyone have an example of setting up a simple vuejs component example using brunch. I can't find anything on this.

[2016-01-29 00:28] larryhengl opened #1136 "NPM: Support package.json#browser property"
Love Brunch, glad to use it again.  Thank you for this tool!

Trying the npm feature and hitting an error in the brunch build:
```Resolving deps of node_modules/superagent/lib/client.js failed. Could not load module 'emitter' from 'node_modules/superagent/lib'```

[superagent](https://github.com/visionmedia/superagent) apparently has a [package.json](https://github.com/visionmedia/superagent/blob/

[2016-01-29 09:25] goshakkk commented on #1136
Brunch is actually using [browser-resolve](https://github.com/defunctzombie/node-browser-resolve) to resolve deps and it does have `browser` support. Might be related to this specific package or something... I'm on it

[2016-01-29 14:08] edevil opened #1139 "Compile main LESS file when included file changes"
I seem to have the same problem as #767 but the solution presented there doesn't seem to work for me. I have a main less file (styles.less):
[code]

When I alter _teste.less I get this in the brunch debug log:

[code]

No mention of recompiling styles.less. When I touch styles.less:
[code]

The brunch version is 2.2.2 and less-brunch is 1.8.1. Am I doing something wrong?

My brunch config is:
[cod

[2016-01-29 14:10] edevil commented on #1139
Ah, it seems it was a problem with my import syntax. Changing it to:
[code]
made it work.

[2016-01-29 14:10] #1139 closed

[2016-01-29 15:57] #1136 closed

[2016-01-29 16:00] arjan commented on #1017
:+1:

[2016-01-29 20:54] colinbate opened #1141 "Getting errors with new process shim"
Somewhere between 2.2.1 and 2.2.2 something happened to cause my modules to have errors. I think there is some invalid code being generated around the npm modules, something do to with the `process` "module".

Uncaught Error: Cannot find module "process" from "/"

I see in my generated vendor.js file I'm getting this is being output near the bottom, just before the auto-reload stuff and the root m

[2016-01-29 21:11] paulmillr commented on #1141
https://github.com/phoenixframework/phoenix/issues/1493#issuecomment-176734287 may be related

[2016-01-30 00:26] #1134 closed

[2016-01-30 04:06] colinbate commented on #1141
OK I figured out what is happening.

This will only happen if your project path contains the word "brunch" which mine does. It is pretty obscure, but will certainly hit other people. I'll submit a PR.

FYI, while exploring I noticed that you convert full paths to relative paths differently in different places.
[code]

[2016-01-30 13:16] #1141 closed

[2016-02-03 20:34] Calvinp commented on #1121
Hi,

I had this same error but for a different reason today. We recently upgraded our Brunch from version 1.x to 2.x, and the option to specify port was changed from -p to -P. Specifying the wrong option caused exactly this issue.

This issue is near the top of Google searches for the ENOENT error, so I'm mainly leaving this comment here to help other people who may come across it that way.

-- Ca

[2016-02-04 09:23] goshakkk commented on #1121
@paulmillr this doesn't appear to be a bug as `brunch w -p 80` would try to load the app from a directory named `80`. Perhaps the error message should be updated to warn about the change of the port option?

[2016-02-04 12:49] paulmillr commented on #1121
Yep

[2016-02-04 14:23] goshakkk commented on #1027
The underlying issue seems to be `pushserve` not handling the case when `noPushState` is true and `indexPath` is a custom value. I've submitted https://github.com/paulmillr/pushserve/pull/11 to account for this use case

[2016-02-04 15:15] goshakkk commented on #1121
Submitted https://github.com/brunch/brunch/pull/1149 to address the -p/-P confusion with an error

[2016-02-04 16:08] #1121 closed

[2016-02-04 18:29] tmjoen opened #1151 "node_modules not being treated as vendor/not being ignored by babel?"
First of all, thank you so much for a wonderful piece of software!

I'm having some trouble with my brunch setup. I have a JS library I've compiled that compiles just fine, and works just great on its own. As soon as I try to include it in my web app project (by pulling it in through node_modules) it gets weird.

If I copy the file to my `web/static/vendor` directory, it gets bundled just fine wit

[2016-02-04 18:50] goshakkk commented on #1151
There currently is no way to opt-out some files from the deppack processing. (babel options have nothing to do with that)

Do you think having an `ignore` option in `config.npm` would be helpful for cases like that?

Alternatively, brunch should be smarter and tell npm dependencies from included static JS in `joinTo`, would could be more in line with the brunch's mantra of simplicity.

I'll probab

[2016-02-04 19:41] tmjoen commented on #1151
Thank you! The ability to ignore sounds good to me.

[2016-02-05 03:33] Velok opened #1152 "Cascading Configuration Sheet"
I did some thinking about an alternative implementation of the configuration. I know that brunch will follows the principle convention over configuration but what about a css style cascading config format? The default config could be something like my example which is similar to the standard convention.

**PROPERTIES:**
- compile: compile scripts and styles, e.g jade -> js, scss -> css, ec6 -> js

[2016-02-05 03:49] paulmillr commented on #1152
The syntax feels too complex. Sorry.

[2016-02-05 03:49] #1152 closed

[2016-02-05 04:53] #1027 closed

[2016-02-05 11:19] goshakkk commented on #1058
https://github.com/brunch/brunch.github.io/pull/122

[2016-02-05 11:24] tmjoen commented on #1151
This isn't really related to the npm ignore bit, but I'm a bit unclear on why it works from any directory containing "vendor", and not a directory I've set to be a vendor from the `vendor:` key in `brunch-config.js` though.

If I create a directory `web/static/testing`, copy the offending files there and add `web/static/testing` to the `vendor:` key, I get the errors.

If I rename the directory to

[2016-02-05 13:01] goshakkk commented on #1082
Submitted https://github.com/brunch/brunch/pull/1153 to mitigate this

[2016-02-05 13:07] #1082 closed

[2016-02-05 13:07] #1058 closed

[2016-02-05 21:26] mcfarljw opened #1154 "Assets not being modified during onCompile"
I've made a brunch plugin that does string replacements during onCompile, but I noticed recently that they are no longer working with files in the assets directory (ie. index.html, manifest.json). I vaguely recall prior to version 2 this working.

https://github.com/jernung/replace-brunch/blob/master/index.js#L99

I'm just speculating, but it feels like onCompile is now firing before the assets ar

[2016-02-05 21:36] goshakkk commented on #1151
@tmjoen I've submitted #1155 to allow this use case. With that, you'd no longer need to override conventions or path. All you'd have to do is

[code]

[2016-02-05 21:49] tmjoen commented on #1151
Excellent! Thank you so much for your work!

[2016-02-05 22:05] #1151 closed

[2016-02-05 23:55] jouana commented on #1094
hi,

I try react with brunch and i have one problem since i use babel-brunch with preset react.
Brunch read my dependencies but they aren't injected in my bundle.

You can find my code here -> here https://github.com/jouana/test_react

I do not see my mistake :s

[2016-02-06 12:33] jouana commented on #1094
Hi all,

Ok my bad I used pattern: /\.jsx$/ for plugin babel and must use that   pattern: /\.(js|jsx)$/
It's ok all work well.
Thanks and have a good day

[2016-02-06 19:41] cmelgarejo commented on #633
When using phoenix (phoenixframework.org) and using brunch I tried to use the "material-design-iconic-font" bower package install (providing as dependency in bower.json, in my root phoenix project) but it didn't copied the fonts to the /static (brunch's path.public dir) So, I grabbed an existing plugin and modified it to work a little better and came up with this, I hope helps anyone out here :smi

[2016-02-07 04:35] paulmillr commented on #633
We are shutting our efforts of adding more bower features and suggest everyone to switch to NPM, which would be enabled by default in the next major Brunch release.

[2016-02-07 04:35] #633 closed

[2016-02-07 05:16] paulmillr opened #1158 "Watch: Make sure NPM dependencies removal / addition is handled correctly"

[2016-02-07 05:17] paulmillr opened #1159 "Throw warnings for `defaultExtension` property"
Some people keep creating configs with the property even though it's been removed 4 years ago: https://github.com/alohaas/proto-ddh-reflow/blob/53b22a975fe385bea6d9b75fb30a144344a488dd/brunch-config.coffee

We need to check `config.files[all-types]` for the property and throw a proper warning.

[2016-02-07 05:17] paulmillr opened #1160 "Make sure our plugins are not using bad npm versions"
We need to check whether dependencies of Brunch plugins e.g. CoffeeScript for coffeescript-brunch are using good versions.

By bad I mean ranges like ^1.0, which would include language v1.9 too.

So, if you see that plugin is using dep1: ^1.0, change it to: dep1: ~1.0

We should change all occurences. It would be bad if a brunch project would break on a user's machine

[2016-02-07 05:17] paulmillr opened #1161 "Test NPM integration backwards-compatibility."
Want to release Brunch 2.3 in a bit; with NPM support enabled by default. It would be great to test whether the integration would break existing projects:

1. Create a project using bower and some server-side NPM packages (no client-side). Preferably for Brunch 2.0 or so.
2. Update to Brunch 2.2, set config.npm.enabled = true, make sure the app does not break.

My guess is that it should not, but

[2016-02-07 05:17] paulmillr opened #1162 "Brunch: Handle some require's being removed during brunch watch"
**Would be nice-y:**

Handle some require's being removed during brunch watch

[2016-02-07 05:18] paulmillr opened #1163 "Brunch must not use synchronous blocking IO. Get rid of it in helpers.js."

[2016-02-07 05:18] paulmillr opened #1164 "The website should use Brunch instead of Grunt (WAT)"
That was a really bad decision.

[2016-02-07 05:21] paulmillr opened #1165 "NPM integration: Make sure .json files are supported correctly"

[2016-02-07 05:22] paulmillr commented on #1154
@goshakkk could you check if that works?

[2016-02-07 05:22] #1135 closed

[2016-02-07 05:23] paulmillr commented on #713
npm integration is here, so this is kinda up too.

[2016-02-07 05:23] #713 closed

[2016-02-07 05:23] #898 closed

[2016-02-08 09:05] goshakkk commented on #1158
Looks like a dupe of #1162

[2016-02-08 14:38] es128 commented on #1164
It uses both - Brunch for building the web app and grunt for a one-off publishing task. But yes the grunt task has always been annoying and should be replaced with a simple script or something.

[2016-02-08 20:33] goshakkk commented on #1161
Looks good on a small app with React & Exim via bower

[2016-02-08 23:02] #1158 closed

[2016-02-08 23:02] #1159 closed

[2016-02-09 10:18] savuori opened #1169 "Paths starting with an underscore are excluded without dependency checking"
The original error message which led to this issue: Cannot find module "lodash/_isHostObject" from "lodash/isPlainObject"

This issue was previously [raised on redux](https://github.com/rackt/redux/issues/1371).

Here's a quite minimal setup to [reproduce the error](https://github.com/savuori/redux_issue_1371) (includes the brunch setup and package.json).

It is probably caused by [this line of co

[2016-02-09 10:23] goshakkk commented on #1169
The issue is already addressed in the Brunch 2.2.x line. Can you try with the most recent version of Brunch (2.2.3)? Should work.

I know for a fact because I created https://github.com/brunch/redux-skeleton, worked like a charm with 2.2

[2016-02-09 11:01] goshakkk commented on #1154
Actually, the behavior of `onCompile` of Brunch `2.x.x` seems to be consistent with that of `1.8.5`, for example.

The `onCompile` callback is fired even when just an asset is changed, **however**, the paths that are passed to the callback are only *compiled* files, not assets. So, in case you change just an asset file, `onCompile` will receive an empty array.

Related code in 1.8.5 — https://gith

[2016-02-09 11:10] goshakkk commented on #1162
This should also be closed (https://github.com/hellyeahllc/brunch/commit/d72d32eb249c20e221e8becea1e220e094f95902)

[2016-02-09 12:52] savuori commented on #1169
You're right, both the sample project and the original phoenix project I have work with brunch 2.2.3 so this is no longer an issue.

[2016-02-09 12:52] #1169 closed

[2016-02-09 19:12] mcfarljw commented on #1154
No, I don't have an example and it appears my vague recollection was incorrect. I had actually implemented a more complex solution for handling that scenario in the past.

Is there currently a way to get the updated files, not just ones that have been compiled?

[2016-02-09 19:16] goshakkk commented on #1154
@mcfarljw not yet... @paulmillr do you think we should add it?

[2016-02-09 21:43] #1165 closed

[2016-02-09 22:14] paulmillr commented on #1154
Yep. We can just pass it as a second argument.

[2016-02-09 22:21] mcfarljw commented on #1154
:thumbsup: Excellent!

[2016-02-10 09:23] goshakkk commented on #1154
I've created https://github.com/brunch/brunch/pull/1172 to pass changed assets to the callback

[2016-02-10 23:23] #1154 closed

[2016-02-12 22:13] skalee opened #1173 "Bower is required"
1. Fresh NodeJS install (installed via Homebrew so npm is present)
2. `$ npm install -g brunch`
3. `$ brunch new project_name`

Resulted with error:
[code]

Installing bower helped, naturally. But my point is that if Bower is required for Brunch, then it should be installed as a dependency. Or, if it's a bad idea for some reason, the "Getting started" section on the home page should mention it.

[2016-02-12 22:28] paulmillr commented on #1173
Bower is not required. I have removed bower.json from the default skeleton.

[2016-02-12 22:28] #1173 closed

[2016-02-13 01:13] razor-x commented on #1161
Something broke here involving `NODE_ENV === 'production'`  between 2.2.3 and 2.3.0 on my new  [React skeleton demo app](https://github.com/makenew/tasty-brunch/tree/demo).

Seems like on 2.2.3, when serving locally and on the production build, React / Redux gets packaged up in Dev mode. You can see the console message on the [live version](https://makenew.github.io/tasty-brunch/):

[code]

On 2.3

[2016-02-13 01:30] YayConnolly commented on #1023
NPM integration is working well most of my dependencies, but I can't seem to get rollbar concatenated with vendor (as described [here](https://github.com/rollbar/rollbar.js/tree/master/examples/browserify)). It may have something to do with rollbar's `"main"` file specified in package.json: `"main": "dist/rollbar.umd.nojson.min.js"`

My workaround will be to label that file as an asset (I am using

[2016-02-13 03:07] #1164 closed

[2016-02-13 03:07] #1163 closed

[2016-02-13 03:07] #1162 closed

[2016-02-13 03:07] #1160 closed

[2016-02-15 00:55] farhan2106 opened #1176 "Bower components not integrating with brunch in windows."
Hi,

Brunch not able to generate libraries.js for me in windows.

However, when I try in Debian, it is generating libraries.js

When I do a npm install at my project root in windows. I get the following. Don't know if it means anything.

npm WARN prefer global brunch@2.3.0 should be installed with -g
npm WARN prefer global coffee-script@1.10.0 should be installed with -g
npm WARN prefer global nod

[2016-02-15 00:56] farhan2106 commented on #1176
I am also using node 4.3.0 and I have also tried it with node 5.3.0

[2016-02-15 07:58] goshakkk commented on #1176
What you posted are just `npm install` logs with a few warnings and some post-install scripts. There are *no* errors in it.

May I ask what does "not able to generate" mean? Does it generate no libraries.js? Does it generate an empty file for that?

Second, did you not forget to run `bower install` on windows as well?

Third, does the brunch build/watch output anything of interest? Perhaps you can

[2016-02-15 14:39] #1161 closed

[2016-02-15 23:33] farhan2106 commented on #1176
Yes, it is not generating libraries.js

This is my folder structure:
![capture](https://cloud.githubusercontent.com/assets/897173/13063064/40a50408-d47f-11e5-88f8-06c583d72f88.PNG)

And this is what I get when I run with -d

$ brunch watch --server -d
Mon, 15 Feb 2016 23:32:00 GMT brunch:speed Created BrunchWatcher 494ms
Mon, 15 Feb 2016 23:32:00 GMT brunch:application Trying to load brunch-config

[2016-02-16 10:51] goshakkk commented on #1023
@YayConnolly can you show your full config? Does any of the `joinTo` cover for `node_modules`? If so, does any of your application code require `rollbar-browser`? If all of that is true, could you please create a demo app that showcases the issue?

I've just tested with rollbar on an empty skeleton https://github.com/goshakkk/brunch-rollbar

It *is* included in the bundle and accessible by the app

[2016-02-16 17:13] szathiago opened #1177 "Custom server doesn´t work in recent version."
Custom server doesn´t work in recent version.
brunch-config.coffee
  server:
    command: "php -S 0.0.0.0:3000 -t public"

command: brunch watch -s
 error: Initialization error - ReferenceError: server is not defined

[2016-02-16 17:18] szathiago commented on #1177
works perfectly on 2.2.3

[2016-02-16 17:20] goshakkk commented on #1177
Thanks for the report, I'll take a look!

[2016-02-16 17:35] #1177 closed

[2016-02-16 18:07] szathiago commented on #1177
Thanks a bunch!

[2016-02-17 04:20] Diamond opened #1179 "Issue with Vue.js and Brunch 2.3"
A few people have reported an issue and I was able to reproduce this myself. When using Brunch 2.3 with Vue.js, the application builds just fine but you'll get errors when you load the page up in a browser with "Uncaught TypeError: Cannot read property 'NODE_ENV' of undefined"

Here is the full stacktrace:

`Uncaught TypeError: Cannot read property 'NODE_ENV' of undefined
(anonymous function) @ vu

[2016-02-17 04:30] Diamond commented on #1179
Okay, I tested out React.js as well and it runs into the same issue. Here is the repo that introduces the issue (again, requires Elixir and Phoenix to run):

https://github.com/Diamond/brunch-2.3-reactjs-error

Here is the line it fails on (same error message as the above):
` if (process.env.NODE_ENV !== 'production') {`

[2016-02-17 07:26] goshakkk commented on #1179
@Diamond this was already addressed in master. It's not part of any release — yet, but can you check with the version from GH master? (`npm install -g brunch/brunch` / ``npm install -brunch/brunch`)

relevant commit: https://github.com/brunch/brunch/commit/225291dca5b61b1e5efd5c47dd65d417dc6ec4a9

[2016-02-17 14:53] Diamond commented on #1179
Unfortunately that introduces a new error:

`$ brunch b
17 Feb 09:50:05 - error: undefined of web/static/js/socket.js failed. or: xBrowserResolve is not a function ; undefined of web/static/js/app.js failed. or: xBrowserResolve is not a function`

[2016-02-17 15:17] enna commented on #1179
I've got the same issue with a Reactjs project.

At first I got `Uncaught TypeError: Cannot read property 'NODE_ENV' of undefined` in my browser, and then I just couldn't build my client side scripts with brunch because of `xBrowserResolve is not a function` errors.

I worked with Brunch 2.3.1, so I came back to 2.2.3 and everything is fine again.

[2016-02-17 15:18] paulmillr commented on #1179
Fixed in 2.3.2. Sorry folks

[2016-02-17 15:21] enna commented on #1179
That works fine with 2.3.2. :)
Thanks!!

[2016-02-17 15:23] #1179 closed

[2016-02-17 15:25] Diamond commented on #1179
Verified that 2.3.2 fixes all of the issues I was having! I'll update my blog posts to note this! Thanks for the fast response! :100:

[2016-02-18 12:13] goshakkk commented on #1176
I just tried that locally with window 7 (though that doesn't seem to be the issue!) using dead-simple skeleton and was able to reproduce it.

The interesting line from the logs is `brunch:write Writing 0/0 files`.

Upon taking a fresh look at basically the codeless folder with just brunch-config and package.json I think I've found the culprit. It's mis-spelt `devDpendencies` in package.json (alrea

[2016-02-18 18:44] anoopmd opened #1182 "I get a [TypeError: Cannot read property 'joinTo' of undefined error]"
### Description

I am trying to compile handlebars using brunch,
I get a [TypeError: Cannot read property 'joinTo' of undefined error]

But the error goes away when I add an empty
[code]
 to my config

##### Why is this happening ??

### Environment

1. Brunch: 2.3.0
2. Node:5.2.0
3. NPM:3.3.12
4. Operating system: W7

### `package.json` contents
[code]

### brunch config contents
This config give

[2016-02-18 18:47] anoopmd commented on #1182
Here is the snapshot

![error](https://cloud.githubusercontent.com/assets/9350733/13154239/1556b3de-d69e-11e5-8e69-e904da184c8d.jpg)

[2016-02-18 21:34] paulmillr commented on #1182
We would need to ignore non-existent entries of `files`.

[2016-02-19 10:02] anoopmd commented on #1182
BTW, My congrats to the Brunch Developers for hitting the 5000 GitHub Stars.

[2016-02-19 11:43] paulmillr commented on #1182
Thanks Anoop!

[2016-02-19 11:44] #1182 closed

[2016-02-19 14:57] jacwright opened #1185 "Shorthand version for skeleton does not work"
### Description

Testing out the new `npm` feature I followed the instructions on the `brunch-with-react` page and get an error about the skeleton not existing.
[code]

If I use the full URL
[code]
it works just fine.

### Environment

1. Brunch: 2.3.2
2. Node: 5.6.0
3. NPM: 3.6.0
4. Operating system: Mac OSX 10.10.5

[2016-02-19 15:02] paulmillr commented on #1185
Seems like we broke init-skeleton somewhere. @goshakkk could you take a look @ https://github.com/brunch/init-skeleton/blob/master/index.js ?

[2016-02-19 16:34] jacwright opened #1186 "Relative paths within node_modules are not always expanded correctly"
### Description

Using moment.js with locales causes a JS error because the module path is incorrect.

[code]
This is because when the module loader attempts to expand it to an absolute path it doesn't work in this case. My guess is that the `moment.js` file is being compiled to `"moment"` because of the repo's `"main"` setting in `package.json`.

### Environment

1. Brunch: 2.3.2
2. Node: 5.6.0
3

[2016-02-19 16:36] jacwright commented on #1186
Would aliases be a solution here? So `moment.js` would be the module `moment/moment` and aliased to `moment` because of the `main` directive?

[2016-02-19 17:30] jacwright opened #1187 "Allow extension in module name"
### Description

Apps are becoming more component-based where templates and their JavaScript definition files are put together into the same folder. It would be nice when requiring templates to use the extension. Take the following application structure:

[code]

In this case `user-info` is the module name for both `user-info.js` and `user-info.html`. The `user-info.js` module cannot require its t

[2016-02-19 17:41] paulmillr commented on #1187
[code]

[2016-02-19 17:41] paulmillr commented on #1187
well no, that won't fix the issue.

[2016-02-19 20:12] goshakkk commented on #1185
It should be `gh:brunch/brunch-with-react` I guess. Or simply `react`

[2016-02-19 22:27] paulmillr commented on #1185
no. `brunch/brunch-with-react` should work too. We've been dropping `gh:` somewhere to match `npm`.

[2016-02-20 00:55] farhan2106 commented on #1176
thumbs up! TY! @goshakkk works now...")

[2016-02-20 00:55] #1176 closed

[2016-02-20 08:11] goshakkk commented on #1186
@jacwright it should be aliasing... let me check

[2016-02-20 08:24] goshakkk commented on #1185
Well actually `gh:` wasn't dropped https://github.com/brunch/init-skeleton/blob/master/index.js#L217

Anyway, I'll make that work too

[2016-02-20 08:52] goshakkk commented on #1186
We used to create aliases for everything, but after the folks from phoenix asked us to not do that when not necessary (https://github.com/phoenixframework/phoenix/issues/1493#issuecomment-176734287), we only did it for a few shims

@paulmillr I think it should be ok to revert to always including file-based alias for now, and add some kind of smarter detection later on

[2016-02-20 15:18] jacwright commented on #1186
I think I have to agree with pheonix about not aliasing the full filesystem path. It is not useful and puts user-specific info into the generated code.

I've coded up a more elegant aliasing solution in the above referenced PR. It will auto-alias files with extensions.

[2016-02-21 17:56] anoopmd opened #1195 "Add Beep (ASCII BEL \007) sound whenever Brunch throws an error"
### Description

I have been experimenting with brunch lately.
One of the serious plus that I see when compared to Grunt and Gulp is the speed
at which brunch watches and builds your files.

When working on a project, I usually start brunch in the watch mode and run it as a server
[code]

Then I start working and continuously switch between the IDE and the browser.
When I make some error in the co

[2016-02-21 22:19] paulmillr commented on #1195
Brunch integrates Growl notification system into all errors.

You can install Growl for windows and receive system-wide notifications by following these steps: https://github.com/tj/node-growl#windows

After that, you should notice every fail easily.

[2016-02-21 22:20] paulmillr commented on #1195
Beep sound seems great though. Let's add it too.

[2016-02-22 07:30] goshakkk commented on #1195
https://github.com/paulmillr/loggy/pull/9

[2016-02-24 09:36] jenilfuria opened #1197 "Could'nt start my app using brunch."
Hi,
 I could not start my app using brunch.
When i serve my public folder which got generated through brunch, the UI does not show content.
I must have done something wrong with brunch setup. Can you please guide me . I am new to brunch.

My environment :
brunch : 2.3.2
node : 4.3.1
npm : 2.14.12
OS : ubuntu

My App structure is

[code]

This is my package.json contents..

[code]

This is my Brunc

[2016-02-24 09:40] goshakkk commented on #1197
Can you provide more details?

For example, did it work on some previous version of brunch?

Furthermore, what does "the UI does not show content" entail exactly? Can you check if there are any errors in the browser console?

[2016-02-24 09:53] jenilfuria commented on #1197
Thanks for the quick reply.

I have not been using previous versions of brunch.
I cannot see screen on browser.
Browsers console also does not show any error.
For eg when i route to http://localhost:9092/#/production/production  ... my production screen should have appeared, instead it shows nothing.
I have hosted the public folder that got generated by brunch through express node module.

[2016-02-24 10:38] goshakkk commented on #1197
If there are no errors, there's a myriad of reasons that could happen... maybe you don't include your JS in index.html? Maybe you don't require any app module from index.html? Maybe you don't start your router or something? and so on.

The information you have provided is definitely not enough to understand why that happens and you can probably see that yourself.

You could create a repo with a sa

[2016-02-24 15:30] ronnieoverby opened #1198 "Brunch is concatenating a file twice"
### Description

My entry point `/app/application.js` file is getting concat'd 2 times in the build output (`main.js`). I have found that this is happening only when one of my other modules imports it.

Strangely, I have also observed that when `brunch watch`ing, if I make changes to '/app/application.js` after the initial build, one instance of the concatenation will lag behind the other.

### En

[2016-02-24 17:29] webdif opened #1200 "Brunch won't compile jsx unless babel is after react in package.json"
### Description

Brunch won't compile jsx unless babel is after react in package.json. To be sure it was not a bug from my project, I create a new empty project, but the bug is still there.

With `babel-brunch` before `react`, `react-brunch`, `react-dom`, I get this :
[code]

When I move `babel-brunch` after in the package.json, I get :
[code]

### Environment

1. Brunch: 2.4.2
2. Node: v5.0.0
3.

[2016-02-24 17:36] goshakkk commented on #1200
React-brunch is deprecated, you should instead use a Babel react preset.
See https://github.com/brunch/brunch-with-react for a reference.

On Wed, Feb 24, 2016 at 8:29 PM Maxime Vasse <notifications@github.com>
wrote:

--
Cheers,
Gosha

[2016-02-24 18:17] webdif commented on #1200
Damn, it's hard to keep up with the JS ecosystem…
Thanks a lot!

[2016-02-24 18:17] #1200 closed

[2016-02-24 19:13] anoopmd opened #1201 "How do I specify a custom public path for the build"
### Description

### Description

How do I specify a custom public path.

The following config is not working on my Win7 machine

[code]

### Environment

1. Brunch:1.7.0
2. Node:5.2.0
3. NPM:3.3.2
4. Operating system: Win7 64 Bit

[2016-02-24 19:17] goshakkk commented on #1201
Please include slightly more details on what 'not working' means: does it
result in some error? Does it finish silently but outputs compiled files
either in a wrong directory, or doesn't output compiled files at all?

If possible, please also include the build log (brunch build -d)

Thanks!
On Wed, Feb 24, 2016 at 10:14 PM Anoop M D <notifications@github.com> wrote:

--
Cheers,
Gosha

[2016-02-24 19:24] anoopmd commented on #1201
Thanks Gosha for the quick reply

This is strange. It works now.
I guess I had some typo error before.

[2016-02-24 19:24] #1201 closed

[2016-02-24 20:37] goshakkk commented on #1198
Interesting. Can you provide a sample repo that demonstrates the issue? That would be of much help. Thanks!

[2016-02-25 02:32] ronnieoverby commented on #1198
Whew. Maybe.

On Wed, Feb 24, 2016, 3:37 PM Gosha Arinich <notifications@github.com>
wrote:

[2016-02-25 07:58] adrianmc opened #1202 "Brunch is messing up dependency paths with __makeRequire()"
### Description

I'm trying to use this package: https://github.com/rexxars/react-markdown

It's something that I have used successfully before when I was working with Webpack and Browserify, so I know the package is not at fault. When I add it to my React project (based on the officially recommended React and ES6 skeleton), my React app doesn't build and inside the browser console, I get the foll

[2016-02-25 08:48] goshakkk commented on #1195
@paulmillr can this be closed now?

[2016-02-25 08:59] goshakkk commented on #1202
The `__makeRequire` snippet that you posted is from brunch 2.0 I think, not 2.4. That said, it's probably still an issue with 2.4 (https://github.com/brunch/brunch/blob/master/lib/deppack/modules.js#L209)

A more first-class extension handling is currently being considered

For now, I've opened https://github.com/brunch/brunch/pull/1203 to provide a fix

[2016-02-25 10:57] adrianmc commented on #1202
@goshakkk

Oh, okay I see. Thanks for taking a look at this!

[2016-02-25 11:34] #1202 closed

[2016-02-25 11:34] #1195 closed

[2016-02-25 11:52] goshakkk commented on #1054
Since init-skeletons 0.8 was released 10 days ago and includes that, this can be closed now I think? @paulmillr

[2016-02-25 11:53] goshakkk commented on #1185
@paulmillr should you create a new init-skeletons release that includes https://github.com/brunch/init-skeleton/pull/11, bump it in brunch and close this issue?

[2016-02-25 13:51] #1054 closed

[2016-02-26 11:13] daisuke-morita commented on #1136
This seems not to be fixed in version 2.4.2. I tried with [superagent](https://github.com/visionmedia/superagent), and then [axios](https://github.com/mzabriskie/axios). Both produced the same "Cannot find module" error.

The axios's case might be a little tricky:

https://github.com/mzabriskie/axios/blob/master/package.json#L61

"Cannot find module" error will occur when calling axios's function.

[2016-02-26 11:41] goshakkk commented on #1136
@daisuke-morita this seems like a regression of https://github.com/brunch/brunch/commit/8bd5257fc0acde4d1e6c84dedfb723ce1568faf8 (2.4.0–2.4.2)

Can you confirm if superagent and axios are working properly with brunch 2.3.x?

Got it working locally with 2.3.x. Submitting a fix for 2.4

[2016-02-26 11:45] goshakkk commented on #1136
@daisuke-morita https://github.com/brunch/brunch/pull/1206

[2016-02-26 12:06] daisuke-morita commented on #1136
I downgraded brunch to 2.3.2 and tried superagent again and it worked without errors, however, axios didn't work and produced the same error when runtime:

[code]

[2016-02-26 12:13] goshakkk commented on #1136
@daisuke-morita yep, if I was just able to reproduce that by `axios.get`, it is indeed and issue and will be fixed

[2016-02-26 12:20] goshakkk commented on #1136
@daisuke-morita I've added the fix to that same PR

[2016-02-26 12:27] daisuke-morita commented on #1136
@goshakkk Wow, thanks for the quick response!

[2016-02-26 12:59] kenleytomlin commented on #1136
@goshakkk Great thanks for the fix I've just come across this issue myself with superagent and brunch 2.4.2

[2016-02-26 14:52] jamesabels opened #1208 "Using Modules in Electron"
### Description

I get the error `Uncaught TypeError: require.register is not a function`

### Environment

1. Brunch: 2.3.2
2. Node: 4.2.3
3. NPM: 3.7.1
4. Operating system: Windows 10

### `package.json` contents

[code]

### brunch config contents
[code]
### Other useful files, when present (`bower.json` etc.)

### babel.rc contents
[code]

Everything works fine if you do brunch watch or brunch

[2016-02-27 01:46] paulmillr commented on #1208
You should probably update your `Brunch` to `^ 2.4.2`.

[2016-02-27 11:35] goshakkk commented on #1097
The scope is actually broader than just Redux — it can apply at anything made with React (maybe even Exim, although not sure about this one).

Here's a few approaches:

### 1. Naive

When a JS file changes, reload the javascript files instead of refreshing the page. With this, we'll also want to flush the local module cache. The app modules themselves (probably only `initialize`?) will have to han

[2016-02-27 14:47] chrismcg opened #1209 "Error with react-addons-pure-render-mixin"
### Description

Upgrading a project from 2.1.2 to 2.4.2 and something is going wrong with `import PureRenderMixin from 'react-addons-pure-render-mixin';`

The error I'm getting is:

`Uncaught Error: Cannot find module "react/lib/ReactComponentWithPureRenderMixin" from "react-addons-pure-render-mixin"`

This was working in 2.1.2. I've created a minimal repo from the `with-react` template that show

[2016-02-27 14:48] chrismcg commented on #1209
May be related to https://github.com/brunch/brunch/issues/1186

[2016-02-27 14:57] paulmillr commented on #1209
Replace `brunch` version with `brunch/brunch` & npm install and tell us if that does the trick.

[2016-02-27 15:01] chrismcg commented on #1209
No joy I'm afraid, same problem in the test app linked in the issue.

[2016-02-27 15:20] goshakkk commented on #1209
Apparently, this is another regression related to #1184, which purpose was to not raise errors when optional dependencies could not be found. At first, it only used package.json's dependencies and was later extended to also work properly with shims and package.json's browser feel. However, it looks like it still lacks the `peerDependencies` check here, so I'm going to add it

[2016-02-27 15:27] goshakkk commented on #1209
@chrismcg https://github.com/brunch/brunch/pull/1210 should fix it

One other issue with the app you submitted is `export const App = ...` exports `{App}`, not not makes it the default.

[2016-02-27 15:38] chrismcg commented on #1209
I can confirm #1210 fixes it, made the same change locally (and fixed the App.jsx) and everything worked. Also checked my real application and that fixes it there too. Thanks!

[2016-02-27 17:36] #1209 closed

[2016-02-27 18:24] jamesabels commented on #1208
I think it is,

I should have whatever `npm i brunch` gives you, and my package.json line reads

`"brunch": "^2.4.2",`
Let me know if there is something even newer though.

[2016-02-27 19:10] goshakkk commented on #1208
Apparently, electron defines its own `require` to interface with node.

One way around that would be to:

* assign default `require` to another name, like `nodeRequire`:

[code]

before any of your javascripts are loaded.

See this section from the official Electron FAQ: http://electron.atom.io/docs/v0.36.8/faq/electron-faq/#i-can-not-use-jqueryrequirejsmeteorangularjs-in-electron

* use `nodeRequ

[2016-02-28 00:46] darren131 opened #1211 "NPM Integration: Sass"
### Description

Sorry if this isn't the correct place for this question, but I'm going to ask it anyway. I'm using npm to manage all my front end assets (a little JS, but mainly Sass) and I'm wanting to know if it's possible to have shortcuts to the sass npm packages. So rather than having to do something like this on my sass file

[code]

I could simply reference it like this (or similar):

[cod

[2016-02-28 01:36] darren131 commented on #1211
I'm sorry – I'm a horrible human being. I just read these docs...
https://github.com/brunch/sass-brunch#options

Which I believe answers my question:
https://github.com/brunch/sass-brunch#options

[2016-02-28 01:36] #1211 closed

[2016-02-28 09:22] goshakkk commented on #1211
That doesn't make you a horrible human being at all :wink: Glad you could find what you wanted.

[2016-02-28 21:46] jamesabels commented on #1208
Awesome, that works!

Sorry that it was an electron thing, and not a brunch thing, but thank you for bringing that to my attention.

Also, I don't see any electron skeletons for brunch so I may submit this, or some version of this to the skeleton repo.

Is there any official guidelines/guide on submitting Skeletons?

Thanks!

[2016-02-28 21:50] paulmillr commented on #1208
Check out the page: https://github.com/brunch/skeletons

[2016-02-28 21:50] #1208 closed

[2016-02-29 01:38] ronnieoverby commented on #1198
I ran across this issue again in a different project that is easier to share with you.

https://github.com/ronnieoverby/react-authorquiz/commit/d7515174b499c8ccfa469608e53f18fd780a8a12

React is being concat'd 2 times in the compiled js file:

[js.zip](https://github.com/brunch/brunch/files/150257/js.zip)

You can see this happening. First starting at line 3896, second at line 44987.

[2016-02-29 08:35] goshakkk commented on #1198
So the issue seems to be because of casing — some places you are requiring `react`, some places `React`, which for some reason resulted in both `node_modules/react/...` AND `node_modules/React/...` (even though the same file) getting added to Brunch.

The solution, I think, should be raising error when improperly cased instead of getting rid of the dupe. Fwiw, webpack raises an error in this case

[2016-02-29 10:31] goshakkk commented on #1031
@kavika13 you can use your non-angualr/general purpose JS code via modules, too, can't you?

I mean, if it's some sort of helper/utility functions, should be fine to export them

[code]

and require it when used

[code]

that should be fine in most of the cases. In fact, that would make your code clear as to where things come from and such. [We do it too](https://github.com/paulmillr/ostio-exim/bl

[2016-02-29 13:18] kaisersly opened #1213 "Can't get Brunch to work with Rx and Cycle.js"
### Description

I started with brunch-with-es6. I installed rx, @cycle/core and @cycle/dom.

If I try to `require('rx')` it will not find it. If I type `require.list()` in the browser console, it will list it as `'rx/dist/rx.all'`. I can get it to work by adding this to the project's package.json:

`"overrides": { "rx": { "main": "./dist/rx.all.js" } }`

After that, the module is correctly named

[2016-02-29 13:31] goshakkk commented on #1213
Hey, thanks for your report. Brunch currently does not support the `@scope/name` style, but I think we're going to fix it.

Honestly, up until now, I actually wasn't aware that these existed... :smile:

[2016-02-29 13:35] kaisersly commented on #1213
Before CycleJS me neither :smile:. Thanks for your work!

[2016-02-29 15:08] ronnieoverby commented on #1198
I agree that an error would be handy dandy.

[2016-02-29 15:37] paulmillr commented on #1198
yep

[2016-03-01 09:21] goshakkk commented on #1198
Submitted #1214 to address that

[2016-03-01 12:33] goshakkk commented on #1213
Submitted #1216 to fix that

[2016-03-01 12:42] ronnieoverby commented on #1198
@goshakkk Thanks!

[2016-03-01 15:42] kaisersly commented on #1213
It works for me. Thanks a lot !
Should (I / you) close this issue ?

[2016-03-01 16:23] #1213 closed

[2016-03-02 06:13] adrianmc commented on #1097
@goshakkk This is a really good summary of our options going forward. I was wondering though, should the discussion be here in the core brunch repo or should it be in one of the React-based skeletons?

[2016-03-02 08:14] goshakkk commented on #1097
@adrianmc core seems like a better fit, if only because the changes are required to core itself/other plugins, and also because there are at least 3 official react-based skeletons (react, redux, exim)

[2016-03-02 10:35] zecaptus opened #1218 "Module repertories with '.js'"
### Description

Example : module 'spin.js'

`Uncaught Error: Cannot find module "spin" from "react-spinjs"`

_vendor.js file_

[code]

[code]
### Environment

1. Brunch: 2.4.2
2. Node: v5.4.1
3. NPM: 3.3.12
4. Operating system: MacOS

[2016-03-02 12:39] maxlath opened #1219 "missing file in compiled script: "Cannot find module" error"
### Description

Since a few months already (since I upgraded to Brunch 2.0? hard to tell exactly), I keep having the exact same file missing from the built `app.js` file. This happened quite exclusively after brunch first compilation.

This is the error I get in the browser:
[code]
(the `Unhandled rejection` and `From previous event:` are the way [bluebird](https://www.npmjs.com/package/bluebird)

[2016-03-02 12:47] goshakkk commented on #1219
@maxlath hey, can you please share a subset of your app that reproduces the issue so that it's easier for us to debug? (the app with the configs and that template file probably)

It's probably related in some way to NPM integration, and since you are not using it, can you see if `npm: {enabled: false}` in config fixes the issue?

Still, the subset app that reproduces the issue would be very much a

[2016-03-02 12:51] maxlath commented on #1219
the full app is here https://github.com/inventaire/inventaire-client/tree/dev/
I will try with `npm.enabled: false` and keep you updated!

[2016-03-02 12:55] maxlath commented on #1219
@goshakkk I just reproduced the bug with `npm: {enabled: false}` :/

[2016-03-02 12:56] goshakkk commented on #1219
@maxlath interesting... I'll take, a look, thank you!

[2016-03-03 08:55] goshakkk commented on #1219
I cloned the repo, ran npm install and then `brunch w` and was not able to reproduce the issue. Both when just started, and after changing some file to trigger a rebuild, `modules/general/views/behaviors/templates/confirmation_modal` consistently appears in the generated app.js.

I furthermore tried with both brunch 2.3.2 that you mentioned in the issue, as well as the latest 2.4.2 and it didn't c

[2016-03-03 08:57] jeremydierx commented on #1219
Same problem for me since a few months, brunch miss files at random when it compiles (in vendor.js and app.js)…

[2016-03-03 09:03] goshakkk commented on #1219
@jeremydierx What OS are you on? What version of brunch does it happen on for you? Does it still happen with the latest brunch version? Does it, as suggested in my last comment, happen if you clone your repo to a separate fresh directory and try it there?

[2016-03-03 13:38] goshakkk commented on #1218
Changes in #1194 should address this issue

[2016-03-03 14:24] es128 commented on #1219
Sounds like it might be a race condition between the text editor performing an odd write sequence that involves blanking or moving the source file away temporarily and the file system watcher. It would be useful to know whether the last event on that file when this issue occurs reports a delete or a change (which can be seen when running brunch in debug mode).

A potential fix to explore would be

[2016-03-03 14:26] nblackburn commented on #1218
This is definitely an important functionality to have, hopefully this will be merged soon.

[2016-03-03 16:53] nblackburn commented on #1218
@goshakkk Do you have a rough ETA on when these changes will be merged?

[2016-03-03 23:58] #1218 closed

[2016-03-03 23:58] #1198 closed

[2016-03-04 00:03] #1187 closed

[2016-03-04 00:04] nblackburn commented on #1187
Thanks for getting this done, i have been manually editing the build references upon until now which was a pain.

[2016-03-04 00:55] paulmillr commented on #1097
- auto-reload-brunch: reload scripts without doing page reload
- commonjs-require-definition: API to clear caches

those steps are needed in any case

[2016-03-04 07:43] goshakkk commented on #1218
@zecaptus @nblackburn since that PR was merged, can you confirm if a) modules with `.js` in their name work properly; b) anything else didn't break?

[2016-03-04 09:41] nblackburn commented on #1218
[code]

Doesn't seem to be writing any files when installing the edge version as per the instructions within README.

[2016-03-04 09:48] goshakkk commented on #1218
@nblackburn did you forget to run `npm install`? It is probably caused by the js/sass/css brunch plugins not being present in `node_modules`

---

An edge version of commonjs-require-definition is also needed for these changes to work properly, and there's a typo in `master` that https://github.com/brunch/commonjs-require-definition/pull/15 will resolve, but it's not merged yet.

Probably hold off

[2016-03-04 10:04] nblackburn commented on #1218
@goshakkk Definitely ran that as i did `npm install brunch/brunch --save-dev`. I will hold off for now as i feel am not confident i am able to get this sorted with my limited knowledge of the internals but trust it will be addressed shortly.

[2016-03-04 10:17] nblackburn commented on #1218
Nevermind, reinstalled the npm packages and it's compiling as expected, now i get the following error upon starting the application.

[code]

Calling require on a module with an extension however works now so that's good.

[2016-03-04 10:18] zecaptus commented on #1218
You have to replace your brunch line in package.json by : `"brunch": "git+https://github.com/brunch/brunch.git#master",`

For me, I have to test without my nameCleaner, but I think brunch require all module with '.js'
Example : `Cannot find module "react/lib/React" from "react/react.js"`

[2016-03-04 10:21] nblackburn commented on #1218
@zecaptus `brunch/brunch` pulls from the repo directly, it's a nice little shortcut.

[2016-03-04 10:37] nblackburn commented on #1218
Ok so i have implemented the fix for `commonjs-require-definition` on my build and everything compiles but now my initialize module doesn't seem to be working.

[2016-03-04 10:58] zecaptus commented on #1218
@nblackburn : ok thx nice tricks ;)

Ok we have a problem with the `core-js` library ...
`$.hide.js:8    Uncaught TypeError: $.setDesc is not a function`

_$.hide.js_
[code]

_vendor.js_
[code]
[code]

[2016-03-04 11:17] goshakkk commented on #1218
@zecaptus yup, looks like an issue. On it.

[2016-03-04 11:26] goshakkk commented on #1218
@zecaptus I've added another commit in https://github.com/brunch/commonjs-require-definition/pull/15 to account for that case.

It's basically happening because we are creating several "layers" of aliases — for example, `a.b.c.js` is aliased to `a.b.c`, `a.b`, and `a` (this is useful for template files which can have `.tmp.hbs` or something). However, in this case, it seems to have backfired, beca

[2016-03-04 11:43] zecaptus commented on #1218
@goshakkk Nice now all work ;) Thank you

[2016-03-05 12:59] PrashntS commented on #1023
+1 Can confirm Github version working fine. NPM version still giving the same error though.

[2016-03-07 14:49] jeremydierx commented on #1219
@goshakkk my OS is archlinux 64, brunch version is 2.3.2. I don't know when problem has started but it's the same story with my others recent projects.

[2016-03-07 15:06] goshakkk commented on #1219
@jeremydierx @maxlath did you see @es128's previous comment?

Does it happen during `brunch build` too or only during `brunch watch`?

[2016-03-07 15:35] maxlath commented on #1219
so it seems I found a way to reproduce the bug close to everytime:

to force a cache bust, I regularly use the following script using just nodejs fs module on [a file](https://github.com/inventaire/inventaire-client/blob/master/app/api/api.coffee) watched by brunch
[code]
which makes brunch generate an emtpy module
[code]

I wondered if Sublime Text had something to do with it as I already had a r

[2016-03-08 12:36] maxlath commented on #1219
after re-cloning the repo:
* I couldn't reproduce the first bug on `templates/confirmation_modal` that use to occur after the first compilation (either with `watch` or `build`)
* I did reproduce the [second bug](https://github.com/brunch/brunch/issues/1219#issuecomment-193302404) involving `fs` and the `api/api.coffee` file

[2016-03-08 13:45] goshakkk commented on #1219
@maxlath I've tried to run this script on a dead-simple brunch skeleton during `brunch watch`, a few times however, couldn't reproduce it

[2016-03-08 17:11] plugnburn commented on #408
My 2 cents about Grunt, Brunch, Yeoman and pure NPM based solutions: http://you-have-ruined-build-systems.surge.sh/

[2016-03-09 20:14] paulmillr opened #1226 "Optimizers' compile() methods are not called"
http://stackoverflow.com/questions/35897223/plugin-as-optimizer-and-compiler

[2016-03-10 08:20] goshakkk commented on #1226
@nopnop77 did you specify either an extension `MyPluginCompiler.prototype.extension = 'someExtension';` or a pattern for your plugin? Either one of these is *required* for a compiler, so that brunch knows what files to pass to the compilers.

I could not reproduce the issue. I created a repo with a simple plugin that is both a compiler and an optimizer for js files: https://github.com/goshakkk/bru

[2016-03-10 19:15] lucian303 commented on #890
Having this exact same issue with brunch 2.4.2. No changes are ever detected even to the brunch.config.coffee and usePolling: true doesn't do anything. 1.7.19 works for me. 1.8.5 logs the change events when using `brunch w -d` but doesn't recompile or reload the browser. So definitely between there something got messed up and in 2.4.2 and I assume any other version 2, it doesn't even work at all.

[2016-03-10 19:20] lucian303 opened #1228 "Brunch watch doesn't see any changes, doesn't compile, doesn't reload, doesn't do anything after first compilation"
### Description

No changes detected in 2.4.2. Nothing at all in the logs even with the -d option after the initial compilation. No changes are ever detected even to the brunch.config.coffee and usePolling: true doesn't do anything. 1.7.19 works for me. 1.8.5 logs the change events when using `brunch w -d` but doesn't recompile or reload the browser. So definitely between there something got messe

[2016-03-10 19:36] lucian303 commented on #1228
Actually, in my second project, downgraded back to brunch 1.17.19, I see messages in the output with brunch w -d but nothing happens, so I guess even that version doesn't work.

Messages that don't do anything, no recompilation, no reloading:
[code]

[2016-03-10 19:39] paulmillr commented on #1228
Try using regexps instead of strings in `jointo`. globs don't work.

[2016-03-11 22:36] lucian303 commented on #1228
As a further note, after downgrading to 1.7.19, it works, but deleting the target directory and running brunch leads only to some directories being copied over while assets are missing and nothing is compiled. On another project on the same server with the same exact dependencies, it works as expected. The dependencies I've pared it down to that work on one project but not another. This is incredi

[2016-03-12 04:40] jpoehls opened #1229 "brunch build returns "Unexpected token" error when using an imported npm library"
### Description

`brunch build` returns `error: undefined of app\script.tsx failed. rror: Unexpected token (17:16)`. (Note that the `rror` is not my typo, direct paste from the console.)

My app is here: https://github.com/jpoehls/biblelistcalc

This is the `app\script.tsx` file: https://github.com/jpoehls/biblelistcalc/blob/1de85ae88f19e8199199b94a2d27047600c03ab8/app/script.tsx

Which is compile

[2016-03-12 07:28] goshakkk commented on #1229
The problem actually seems to be that `typescript`/`brunch-typescript` does nothing with JSX. By placing a log statement in `brunch-typescript`, here is what comes out of ts compile:

[code]

[2016-03-12 13:52] jpoehls commented on #1229
Ah. I break pointed and still missed that. :(

Thanks, that gives me something to look into next then. Looks like it isn't passing the right compiler flags to TypeScript. I'll go ahead and close this since it isn't brunch at fault.

Thanks again!

[2016-03-12 13:52] #1229 closed

[2016-03-13 00:56] marnen opened #1231 "SERIOUS BUG: `brunch new .` removed my `.git` directory"
### Description

I was setting up Brunch for the first time on an existing project, and ran `brunch new .`. Next thing I knew, my project's entire `.git` directory had been deleted with no warning whatsoever!

This is unacceptable and is making me seriously reevaluate my interest in Brunch as a build system. Can we fix it?

### Environment

1. Brunch: 2.4.2
2. Node: 5.6.0
3. NPM: 3.6.0
4. Operatin

[2016-03-13 09:48] goshakkk commented on #1231
First, I'm very sorry this happened to you...

To give you a little more insight, that is happening because we cache skeletons and copy then to the target directory, removing `.git` from these so that you don't get the *skeleton's* repo. Looks like we haven't considered a case when the target directory is a git repo already.

Will be addressed!

[2016-03-13 17:37] marnen commented on #1231
@goshakkk Right, I figured it was something like that, but at least a warning would have been nice. :)

[2016-03-14 06:53] goshakkk commented on #1231
@marnen submitted a PR to address that https://github.com/brunch/init-skeleton/pull/14

[2016-03-14 06:54] marnen commented on #1231
@goshakkk That was fast! Thanks.

[2016-03-15 12:14] goshakkk commented on #1097
Created a sample React app with Brunch to showcase the adopted react-transform babel plugin that automatically wraps React components into proxies — https://github.com/goshakkk/brunch-livejs-reload-stage2 built on top of https://github.com/brunch/react-livejs

initialize.js looks like this now:

[code]

which is definitely an improvement compared to something like this:

[code]

The next thing to

[2016-03-16 06:24] javajosh opened #1234 "Brunch vs. Webpack"
### Description

This is not a bug, it's more of a rant from someone who has spent the last few days getting Webpack to work, and only through this experience that I have come to appreciate what Brunch is, and how good it is in comparison.

Re webpack, the configuration format alone is truly awful. Webpack is enormous, and it's got different ways of doing the same thing, strange string delimiters

[2016-03-16 07:01] adrianmc commented on #1234
Well Brunch didn't have NPM support until relatively recently. I think that's probably the number one thing holding it back since Webpack was sold to a lot of people as a way to use NPM packages for the front end.

For React users, Webpack also had Hot Module Replacement which was a huge boon and pushed a lot of new React users onto Webpack instead of considering anything else.

Brunch is also sti

[2016-03-16 14:06] paulmillr commented on #1234
The reason for small popularity is lack of marketing. Brunch is not getting mentioned by "big folks" even though it's been around since 2011 (*Grunt appeared in Apr 2012*).

We have been successfully using Brunch since that time in all sorts of production-grade applications.

We have this since this week.

[2016-03-16 14:38] #1231 closed

[2016-03-16 14:44] #1226 closed

[2016-03-16 14:45] #1185 closed

[2016-03-16 14:45] #1197 closed

[2016-03-16 14:45] #1186 closed

[2016-03-16 14:45] paulmillr commented on #1186
@jacwright live in Brunch 2.5 now.

[2016-03-16 14:45] #1219 closed

[2016-03-16 14:51] jacwright commented on #1186
:+1:

On Wednesday, March 16, 2016, Paul Miller <notifications@github.com> wrote:

[2016-03-16 17:34] javajosh commented on #1234
There is one feature of Webpack, but I realize that it opens up a huge can of worms for Brunch, which is a) multiple entry-points, and b) intelligent bundling. The former is useful for site that are organized as a small collection of related SPAs. Regarding the latter, Webpack's "CommonsChunkPlugin" is quite remarkable in it's ability to automatically extract.

I have mixed feelings, however. I'd

[2016-03-16 19:43] goshakkk commented on #1234
@paulmillr to be completely fair, we're not at Hot Module Replacement just yet. What we do have is a (somewhat hacky?) way to make hot React reload nevertheless work https://github.com/brunch/brunch/issues/1097#issuecomment-196793713

[2016-03-16 19:48] es128 commented on #1234
Regarding multiple entry-points - Brunch doesn't deal with entry-points at all, so the same concept can still be accomplished with the `joinTo` config. Webpack demands buying into the webpack-flavored commonjs module style, whereas with Brunch you explicitly define which files you want bundled together and your app structure is up to you. Arguably what webpack is doing is more sophisticated, but t

[2016-03-17 02:48] colinbate opened #1236 "Requiring JSON is broken in 2.5.0"
### Description

There is an exception thrown when using 2.5.0 to build a project which references the node `crypto` package. The underlying cause is the requiring of a `.json` file which is causing an exception in `source_file` because `isNpmJSON` is undefined.

Below is the information from my test project to reproduce it. It is only one line added to the dead simple skeleton.

The reason that t

[2016-03-17 02:49] paulmillr commented on #1236
that may be related to separating deppack to `gh:brunch/deppack`. @goshakkk could you take a look?

[2016-03-17 05:11] goshakkk commented on #1236
#1237 should fix that

[2016-03-17 09:40] colinbate commented on #1236
That's great. Thanks again guys.

[2016-03-17 10:27] ukutaht opened #1239 "Production joinTo does not seem to have any effect"
### Description

With the upgrade to 2.5.0, I'm experiencing an issue where the dev/test files are still compiled and generated when running with the `--production` flag. I've written a simple app to exemplify the problem: https://github.com/ukutaht/brunch-jointo-issue. It is similar to an app I use in the real world which excludes files from the production build using `config.overrides.files.java

[2016-03-17 17:49] colinbate opened #1241 "Module extension removal issue"
### Description

If you have multiple "extensions" in your filenames (that is multiple periods), an alias is made for that module by removing each in turn. This can cause a different module than the one you were expecting to be imported. This is most likely to occur when dealing with .jsx and .ts(x) files.

For example, if you have `App.jsx` and `App.component.jsx` in the same folder, the latter w

[2016-03-17 18:07] colinbate opened #1242 "Double inclusion of files on Windows"
### Description

It seems that in some cases on Windows files are being included in the bundle twice. It seems to me, that it finds the files on the file system initially with the Windows separator `\` in the path. Then if you require that file using the forward slash `/`, I'm guessing that deppack is adding that as a separate file. From what I can tell anecdotally, it doesn't seem to happen when

[2016-03-18 00:35] #1236 closed

[2016-03-18 13:50] goshakkk commented on #1239
https://github.com/brunch/brunch/pull/1243 should address that

[2016-03-18 15:25] HamzaLJ opened #1244 "Couldn't interpret '/Users/Paul/Desktop/newDirectory' as a hosted git url"
### Description
Hello,
I am new to brunch, and I've just installed it.

I am trying to execute :
brunch new brunch/with-es6 -s /Users/Paul/Desktop/newDirectory

But I get this error :
Couldn't interpret '/Users/Paul/Desktop/newDirectory' as a hosted git url

### Environment

1. Brunch: 2.5.0
2. Node: 5.9.0
3. NPM: 3.7.3
4. Operating system: Mac OSX, El Capitan (10.11.3)

Any idea on what's causing

[2016-03-18 15:58] HamzaLJ commented on #1244
Solved it :
I was typing in a wrong format, it should be :

brunch new /Users/Paul/Desktop/Neww -s brunch/with-es6

Hope this helps!

[2016-03-18 16:29] #1244 closed

[2016-03-18 16:29] #1239 closed

[2016-03-18 18:02] goshakkk commented on #1242
@colinbate Indeed. I've opened https://github.com/brunch/brunch/pull/1246 to fix this

[2016-03-18 18:02] goshakkk commented on #1242
Thanks for reporting

[2016-03-18 18:09] goshakkk commented on #1241
See this comment that pertains to the issue on the motivation of why it works like this: https://github.com/brunch/commonjs-require-definition/pull/12#issuecomment-186638836

Now, I do agree this probably isn't the best, and I've had to add some hacky checks here and there (and make them `js`-only... :-1:) to make `$.js` that requires `$.a.js` work properly without aliasing `$.a.js` to `$`.

One w

[2016-03-18 18:24] colinbate commented on #1241
I think my concern is that as implemented, this is a breaking change for some apps.

Even for the original use case of being able to include code and a template with the same name is broken without your hack to check for the `.js` extension explicitly. And it is broken for `.jsx` and `.ts` files.

I think technically speaking only the rightmost extension is an extension, I'd consider anything else

[2016-03-18 20:13] jacwright commented on #1241
@goshakkk, @colinbate, the reason for adding the extension into the definition and aliasing it was to allow `file.js` and `file.html` to be in the same directory. Because templates are added later `file.js` wins. You must require the template using the full filename (including extension).

I think it would reasonable to only drop the last `.abc`, but my concern was that it *would* be a breaking ch

[2016-03-18 20:19] jacwright commented on #1241
I don't believe the original use case is broken. Since templates are always added to the file after source code they don't overwrite the alias. But this doesn't solve for two templates (or two code files) with the same base name. I think using option 1 or 2 above would be better. #2 is the best case, but #1 I think is easier and solves 99.9% situations (number taken from an extremely official and

[2016-03-18 21:12] goshakkk commented on #1241
An even easier solution might be to only drop the rightmost extension and let the first one win. If you have more than one level of extensions, just import these explicitly. Keeps brunch simple, also probably less confusing for everyone.

[2016-03-18 21:16] goshakkk commented on #1241
Fwiw, prior that that PR, we didn't recursively drop extensions. You proposed it and it looked fine on the surface, but it seems now like it really is complicating the matters for everyone :)

[2016-03-18 23:03] colinbate commented on #1241
All my templates are first because they sort first alphabetically.

I had `file.tmpl.html` and `file.ts` in my app and the template is what is now imported when `require('file')` is called. Before only one extension was removed and that was your only option as you say.

I'd like to have `file.html` and `file.ts` but even if we only remove one extension with the current sorting the template would s

[2016-03-18 23:07] colinbate commented on #1241
Also I'm not saying that I'm stuck. All I'm saying is that this was a breaking change. I have to make a bunch of changes to my app to get it to work with 2.5 if I want to update.

[2016-03-18 23:14] colinbate commented on #1241
@goshakkk I'm liking your idea of just removing a single extension. Keeps the old behaviour. It doesn't solve the `file.html` and `file.js` issue if you want to reference the code without an extension but I think that is fine for now.

[2016-03-19 01:21] #1242 closed

[2016-03-19 06:16] goshakkk commented on #1241
https://github.com/brunch/commonjs-require-definition/pull/20

[2016-03-19 06:25] goshakkk commented on #1241
Re ordering, I think the simple way to address that would be to change your config to have the following:

[code]

This will work because javascript and templates are ordered simultaneously

[2016-03-19 22:08] jacwright commented on #1241
I'm all for just one extension. And @colinbate, I may be wrong, but I thought all templates were added together after all the code, because brunch processes them after it processes all the code. Are you sure your template modules are appearing before your code modules in the final app.js file?

[2016-03-19 22:12] jacwright commented on #1241
Oh, my page didn't update. Looks like I'm a bit late to the party. Feel free to ignore those comments just now. :smile:

[2016-03-21 15:51] khamassn opened #1247 "Brunch does not compile dustjs templates"
### Description

While using brunch along with dustjs-linkedin-brunch, dust template is not compiled.

### Environment

1. Brunch: 2.5.1
2. Node: 5.4.1
3. NPM: 3.3.12
4. Operating system: Xubuntu 15.04, Windows 7

### `package.json` contents
[code]

### brunch config contents
[code]

### Other useful files, when present (`bower.json` etc.)

Compilation log with the debug flag (`-d`). The file to c

[2016-03-22 00:57] paulmillr commented on #1023
Brunch 2.5 is out. Try it now folks

[2016-03-22 02:04] philer opened #1248 "Need help: JS won't generate an output (compiled, but not written.)"
My code is structured in es6 modules with a single entry point. I want to generate an output file that contains all other modules that are imported in the file. I'm using babel. I'm also using less, which works fine. There is no magic with external modules or vendor directories, just my own code. Here's my setup:

[code]
I want to have my output in `dist/`, one js and one css file. Note, that `ind

[2016-03-22 09:40] philer commented on #1248
Nevermind I was too stupid to put an 's' at the end of 'javascripts' in my config.

[2016-03-22 09:40] #1248 closed

[2016-03-22 13:53] goshakkk commented on #1248
Cool :+1:

[2016-03-22 14:52] goshakkk commented on #1247
Since you did not provide an app reproducing the issue, I, when trying to get a minimal app built with brunch using dustjs I have encountered a few issues:

* dustjs-linkedin-brunch requires `npm` for some reason but does not list it as a dep
* brunch was trying to resolve deps of dustjs-linkedin runtime dist file, which resulted in a build failure (opened https://github.com/brunch/deppack/pull/1

[2016-03-22 15:10] philer commented on #1248
Heh @goshakkk
On a side note the whole single entry point thing still doesn't work. I'm guessing brunch isn't designed to automatically follow imports like rollup or webpack to automatically create a minimal package. At least that's what I got from [here](https://github.com/brunch/brunch-guide/issues/28).

[2016-03-22 15:25] goshakkk commented on #1248
Brunch does follow the imports, but currently only when it comes to node_modules. App code, all of it is included, though there is not much stopping us from having an option to specify an entry point and just follow its imports in the future

cc @paulmillr

[2016-03-22 15:29] paulmillr commented on #1247
pushed. a fresh `npm install brunch` should solve the issue

[2016-03-22 15:51] Surfoo opened #1250 "Brunch doesn't include my module"
### Description

In my project, I have several js files, and when I modify a file, brunch detect changes, but the module is empty in my app.js. Example:

    require.register("search.js", function(exports, require, module) {

    });

I need to stop the watcher, and lauch it again. I don't have compilation issue in the terminal... :

    $ brunch w
    22 Mar 15:48:29 - info: compiled in 1.1 sec

[2016-03-22 16:10] paulmillr commented on #1250
Interested in your `brunch build -d` output.

[2016-03-22 16:11] paulmillr opened #1251 "`joinTo` should detect invalid keys and warn about them"
To mitigate #1248 etc.

[2016-03-22 16:12] paulmillr commented on #1251
sth like "You can specify `javascripts`, `stylesheets` and `templates`"

[2016-03-22 16:19] Surfoo commented on #1250
Here the output : http://pastebin.com/s8Ev7MPD

[2016-03-22 16:20] goshakkk commented on #1250
Could also be related to the race condition between the editor and the fs watcher. See this thread https://github.com/brunch/brunch/issues/1219#issuecomment-191782948

[2016-03-22 16:24] Surfoo commented on #1250
I don't know, but I use Sublime text 3 over sshfs.

[2016-03-22 18:40] khamassn commented on #1247
Working fine now !
Thanks a lot for your help :)

[2016-03-22 18:40] #1247 closed

[2016-03-22 18:52] SuaYoo opened #1252 "Server path does not use public paths override after bump to 2.5.x"
### Description

The default Brunch server does not use the `paths.public` override, and instead throws an `ENOENT: no such file or directory` error.  However, the files are correctly compiled into the directory specified in `overrides[setting].paths.public`.

### Environment

1. Brunch: 2.5.2
2. Node: 5.8.0
3. NPM: 3.7.3
4. Operating system: OS X 10.10.5

### `package.json` contents

[code]

###

[2016-03-22 19:22] philer opened #1253 "Allow specifying an entry point js file and follow imports to include all relevant files"
In #1248 I described a setup where I have a single js file (`js/index.js`) that serves as an entry point to my app. That file contains mostly ES6 `import` statements that lead to other files. It would be great if I could tell brunch to compile this file and everything imported by it. Other build tools work that way (e.g. in webpack's configuration you specify an `entry` key), so this could also he

[2016-03-22 19:36] goshakkk commented on #1253
A feature like rollup could indeed be useful, but I have some reservations as to how well it can play with brunch's deppack. I probably can look further into it to analyze if it's doable and will work with existing infrastructure...

---

@paulmillr do you think Rollup is something worth pursuing?

Also re entry point/imports: following imports inside app should be more or less easy to implement i

[2016-03-22 21:41] philer commented on #1253
If this works out it might be worth setting it up so multiple entry points can be specified. Overlapping dependencies should only be included once.

[2016-03-23 07:01] goshakkk commented on #1250
@Surfoo can you test whether editing it in vim for example over ssh produces that same issue?

Also with ST over sshfs, can you try adding to your config `awaitWriteFinish: true` (and see if it helps), or `usePolling: true` (and see if it helps), or both and see if it fixes it.

[2016-03-23 07:47] goshakkk commented on #1252
https://github.com/brunch/brunch/pull/1255 should fix this. Thanks for your report!

[2016-03-23 13:32] ceremcem opened #1257 "How to know what will brunch do as a next step of compilation in order to understand debug output?"
### Description

Brunch started to fail compiling after `npm install`. When I run build with `DEBUG="brunch:*" brunch b` command, it stucks at some point, right after copying assets and the last line is:

[code]

Full debug log is [here](https://gist.github.com/ceremcem/cc5bda30ead79bae93f7)

### Environment

1. Brunch: 1.8.3
2. Node: 4.3.0
3. NPM: 3.8.2
4. Operating system: Debian 8 (Linux 4.3)

[2016-03-23 13:34] goshakkk commented on #1257
Could you please post the error you see here? Even better if you could include the full debug log (`brunch b -d`)

[2016-03-23 13:37] ceremcem commented on #1257
Please see my edit (in the description) and the full debug log is here: https://gist.github.com/ceremcem/cc5bda30ead79bae93f7

[2016-03-23 13:51] ceremcem commented on #1257
Sorry, the error output was not included, it is included now: https://gist.github.com/ceremcem/cc5bda30ead79bae93f7

[2016-03-23 15:42] #1251 closed

[2016-03-23 15:49] es128 commented on #1253
If pursuing this, I suggest that the way to handle it in config is to add a new adjunct to `joinTo` - perhaps called `entryPoint` - that specifies that the module resolution for user code is desired. So users could still specify their own paths/globs/regex for concatenation with `javascripts.joinTo`, or users of the new feature could do something like `javascripts: {entryPoint: {'app.js': 'js/inde

[2016-03-23 16:43] Surfoo commented on #1250
I added these 2 settings and also `atomic_save: true` in my ST config. It's maybe overkill, but I don't have the problem right now. I'll let a comment if the problem reappears in the next few days.

Thanks for your help!

[2016-03-23 20:20] goshakkk commented on #1253
@es128 now that's a great idea! Thinking about it, having it on that level, as a higher-order concept instead of *just* starting the watcher with one file instead of app/**, does make sense (but will be not as easy-peasy implementation wise).

A few issues I can see currently are:

* with your suggested `entryPoint` approach, all npm deps will always go to the app bundle
* non-npm deps couldn't go

[2016-03-23 20:23] goshakkk commented on #1250
Great, please do report how that works for you :)

[2016-03-23 20:29] es128 commented on #1253
Hmm, I'd think it would end up in each bundle where the `require` calls are made - customized to each. But this does point to the problem that there may be the possibility of duplication if a user wanted to use an `entryPoint` bundle and `joinTo` bundle together somewhere.

Well, it would work as it does today. Either user specifies which files get concatenated, with or without Brunch doing module

[2016-03-23 20:37] goshakkk commented on #1257
This is happening because the jade-static-brunch fork you are using tries to add jade runtime into the bundle and assumes it's in `node_modules/jade-static-brunch/node_modules/jade/runtime.js` (not sure why the *static* compiler needs the runtime though)

NPM 3 tries to produce flatter directory structures which can result in `jade` being located at `node_modules/jade`, not `node_modules/jade-stat

[2016-03-23 20:44] goshakkk commented on #1253
This is really something to think about!

Perhaps a first step down the plugifying route would be to somehow abstract module wrapping and concat *inside* brunch and see how brunch core can interact with these in a somewhat generic and flexible way. Will look into it :)

[2016-03-24 02:22] #1252 closed

[2016-03-24 04:54] ceremcem commented on #1257
Thank you for the detailed answer. This means that if I completely strip out the jade* extension(s) then the compilation would go just normal, right?

If this is the case, result is the same and [here is debug output](https://gist.github.com/ceremcem/bc5f1d05e385aa259c12) for the `brunch b -d` command with the following configuration:

[code]
[code]

[2016-03-24 06:58] goshakkk commented on #1257
Oh, I see. Jade plugin only caused that error but brunch carried on.

I was able to pinpoint the culprit to the use of github master version of the livescript-brunch plugin. Its master version was updated to a newer plugin API that comes with Brunch 2.

(Even if you want to use a GH version instead of NPM one, it's always safer to specify the tag or commit to avoid issues like that.)

If you wish

[2016-03-24 16:03] ceremcem commented on #1257
Thank you for your answer. [The change](https://github.com/ceremcem/jade-static-brunch/commit/5deb1eba8db2df14f5583548f4f4395b5aad292e) has solved my issue.

But anyway, I didn't understand how you are able to understand the root of this issue. By trial and error? The problem with brunch is possibly this kind of poor error output.

[2016-03-24 16:11] goshakkk commented on #1257
@ceremcem the jade error was pretty self-explanatory.

The LiveScript one, well, kind of too... it was the only plugin not locked at specific version, in this case it used the new plugin API and returned a promise, however Brunch 1.8.x only supports passing callbacks to plugins, so in this case, that callback never got called, making Brunch appear "hang"

[2016-03-24 21:44] ceremcem commented on #1257
I was pretty sure about it was not related with node modules because I copied these modules from an old project into this one and it didn't work that way too. But you get it by guessing.

So you say there is nothing brunch 1.x can do ([produce proper error messages](https://twitter.com/josevalim/status/621933537009246208)) when brunch 2.x compatible plugin is used with brunch 1.x?

If so, we can c

[2016-03-24 22:31] paulmillr commented on #1257
the problem with restricting plugins to <2.0 is that not every plugin actually conforms to the convention...

[2016-03-25 15:59] spyl94 opened #1259 "Issue with react-intl"
### Description

I tried to use `react-intl` (2.0.0-rc-1) compilation is fine but I get the following error:

`Uncaught Error: Cannot find module 'react-intl/locale-data/index' from 'react-intl/lib/index.js'`.

In their package.json, they use:
 `"browser": {
    "./locale-data/index": false,
    "./locale-data/index.js": false
  }`

If I remove the browser key from:
- `./node_modules/intl-messagef

[2016-03-26 09:04] goshakkk commented on #1259
Thanks for your report!

Indeed, we weren't handling local file overrides with false values properly. I've submitted https://github.com/brunch/deppack/pull/5 to make their handling similar to that of module overrides.

[2016-03-26 09:11] goshakkk commented on #1241
@paulmillr this issue can be closed.

[2016-03-27 15:38] #1241 closed

[2016-03-27 21:23] bryanstearns opened #1260 "Can't get brunch to pass bootstrap.scss through sass-brunch"
### Description

I'm using brunch with sass-brunch and bootstrap-4.0.0-alpha.2 as an npm-installed module; Bootstrap's javascript is being output in vendor.js like I want, but its CSS isn't ending up in vendor.css. Here's a small example project: https://github.com/bryanstearns/brunch-starter-bootstrap4

I'm new to brunch; I can't tell whether this is my own lack of knowledge (likely!) or a bug, s

[2016-03-28 01:37] #1259 closed

[2016-03-28 02:06] #1257 closed

[2016-03-28 02:06] #1250 closed

[2016-03-28 02:06] #1253 closed

[2016-03-28 03:25] paulmillr opened #1261 "Improve memory usage"
1. Don't spin 8 workers when `-j 4` was passed
2. Investigate mem leaks after pkg reinstall
3. And overall in general

[2016-03-28 16:58] harryfinn commented on #977
+1 for the flag - like @Bartmax's suggestion of a `clean: brunch-files` option against brunch diff!

Any update on this feature regarding potential milestone?

[2016-03-28 18:12] paulmillr commented on #977
We'll try to focus on the feature as a part of 2.7 release (mid apr)

[2016-03-29 09:24] koalalorenzo opened #1262 "Forked processes and extreme memory and CPU usage when building."
### Description

I am not able to deploy anymore on Heroku, and at the same time ,after re-installing everything and removing node_modules directory, I have discovered that brunch build forked dozens of processes, maxing out both my memory and cpu at the same place.

### Environment

1. Brunch: 2.5.3
2. Node: 4.4.1 and 5.9.1
3. NPM: 2.14.20 and 3.7.3
4. Operating system: OSX, Ubuntu (Heroku)

You

[2016-03-29 09:54] paulmillr commented on #1262
Does this only happen with `-j` flag?

[2016-03-29 09:58] paulmillr commented on #1262
Brunch should not fork any processes unless you're using `-j` flag. So, the behavior is weird

[2016-03-29 10:11] goshakkk commented on #1262
It does currently default to to jobs because of 1 forgotten check in the setdefaults function. https://github.com/brunch/brunch/pull/1263 should fix it

[2016-03-29 10:47] rstacruz opened #1264 "Too many open files when building"
### Description

When running `brunch b` or `brunch w` with 300+ CSS files, it works but for a period of time, you won't be able to do anything in your system because Brunch opened too many files. For instance:

[code]

...can occur in a shell script running outside Brunch.

Perhaps compilation concurrency should be throttled. Running 300+ compilations at once shouldn't have a perceivable benefit

[2016-03-29 10:53] paulmillr commented on #1264
The answer to these situations is increasing `ulimit`. Can you try that?

[2016-03-29 11:09] rstacruz commented on #1264
Under OS X 10.11, I tried:

[code]

and I still ran into the issue. Also, this happens occasionally too:

[code]

[2016-03-29 11:22] paulmillr commented on #1264
I think the issue is more or less relevant to your system, since i've been working on tons of br projects over the years. Just curious what the issue may be exactly. You haven't noticed Brunch, Node or NPM versions

[2016-03-29 11:23] rstacruz commented on #1264
oops, sorry:

Node 4.3.0
Brunch 2.5.1
OSX 10.11.3
npm 2.14.12

[2016-03-29 11:23] koalalorenzo commented on #1264
TBH, I think this is related to #1262 but the OS version may have different settings on users, so I don't have this error on my system.

[2016-03-29 11:24] koalalorenzo commented on #1262
Do we have an ETA for fixing this?

[2016-03-29 11:47] rstacruz commented on #1264
YES! Running brunch with `-j 4` fixes the problem and makes it faster. Closing as a dupe of #1262.

[2016-03-29 11:47] #1264 closed

[2016-03-29 15:22] tgolden-andplus opened #1265 "BitBucket HTTPS URL fails with 'brunch new'"
### Description

As of Brunch 2.5.3, I can't use a BitBucket HTTPS url anymore as an argument to `--skeleton`. It's unclear at what layer the error lies:

1. With brunch
2. With init-skeleton
3. With normalize-git-url

Here is the stacktrace I get, given the following command:

    brunch new https-test -s https://bitbucket.org/my-org/my-repo.git

[code]

### Environment

1. Brunch: 2.5.3
2. Node:

[2016-03-29 16:06] paulmillr commented on #1262
a few days for 2.6 release

[2016-03-29 16:07] paulmillr commented on #1264
@rstacruz just wanted to mention, some users have been having tons of very weird errors with `npm v2`. If you'll see something strange, could you try upgrading to npm v3.

[2016-03-29 16:54] goshakkk commented on #1265
Thanks for your report! The problem was with init-skeleton and should be fixed by https://github.com/brunch/init-skeleton/pull/15

[2016-03-29 16:54] #1265 closed

[2016-03-30 07:37] goshakkk commented on #1260
Hey, I've just addressed this one on your StackOverflow question: http://stackoverflow.com/questions/36243685/how-to-get-brunch-sass-brunch-to-compile-include-bootstrap-scss

[2016-03-31 08:36] alancwoo opened #1268 "browsersync, autoreload with brunch and jade - have to reload twice before seeing changes?"
### Description

In a simple [brunch](http://brunch.io) project, I have tried using both browsersync and autoreload to keep my browser updated automatically with changes.

Edits to javascript and css are immediately updated, but when updating a jade template, the browser performs a reload, but I have to save again or manually reload the browser to see the change.

It's strange because according to

[2016-03-31 14:03] LeG3nDz commented on #971
Hi,

I've same problem, but i use brackets editor.

[2016-03-31 14:21] spyl94 opened #1269 "Issue with react-on-rails and babel-runtime"
### Description

I tried to add `react-on-rails` package, compilation worked, but I got the following error: `Cannot find module 'babel-runtime/core-js/json/stringify' from 'react-on-rails/node_package/lib/ReactOnRails.js'``

I thought the problem was that I forgot the `babel-plugin-transform-runtime` but it won't work either.
Don't know if it's brunch or https://github.com/babel/babel-brunch rela

[2016-04-01 02:29] bryanstearns commented on #1260
Thanks, @goshakkk -- I hadn't realized that the already-compiled CSS was included in the "dist" folder; that'll work perfectly. Closing this issue.

[2016-04-01 02:29] #1260 closed

[2016-04-01 08:48] LeG3nDz opened #1270 "Brunch watch with awaitWriteFinish"
Hi community,

### Description

I read on other ticket that there was a compilation problem (CSS file and JS module are empty) with some editor. The solution would be to add `awaitWriteFinish: true` in the configuration file.

But I've no results. I tried with Sublime Text disabling "atomic_save", and it works.

I use Brackets editor, and `brunch watch` is run directly on the server, not locally.

[2016-04-01 09:37] Itagiba opened #1271 "Missing module after running brunch watch -s"
### Description

Hello, I am having real issues with brunch at the moment. The error is not very consistent because it has not happened in 10hrs but it seems that sometimes when I run brunch watch -s I lose some of the configuration of the files and it throws these warnings followed by the following error below:

[code]

I have no idea why it suddenly loses the paths and ./lib/core.js module. I fo

[2016-04-02 00:43] paulmillr opened #1272 "brunch new: Install cached NPM modules on network issues"
So, Brunch caches all skeletons locally in `.brunch` directory.

Suppose we have some skeleton but our network connection went down. We're still able to execute `brunch new`, it would copy existing skeleton as-is, but then half-way through it would fail, because NPM would try to make network requests.

The suggested fix is to execute `npm install --cache-min 9999999` whenever we're using cached sk

[2016-04-02 05:06] paulmillr opened #1273 "Brunch build: New plugins are not getting used"
1. Install brunch packages, do a brunch build
2. Add new brunch plugin to `package.json` (for example sass-brunch) and some file that the plugin may compile (`app/style.sass`)
3. Do a `brunch build`.

Brunch would notice we've installed a new plugin and execute `npm install` for us. This is good, but after that the plugin would not get loaded with Brunch. And the .sass file would not be compiled.

[2016-04-02 07:39] goshakkk commented on #1268
Two reloads happen due to the way `static-jade-brunch` works:

* you change `app/index.jade` that triggers it to be compiled **to js** with `jade-brunch`. After that, BS is notified something changed, as well as `static-jade-brunch` gets notified too
* `static-jade-brunch` creates an html file and writes it to app/assets. Another BS notification is sent

The issue seems to be, the second reload no

[2016-04-02 07:53] goshakkk commented on #1268
On a lower level, the fix might be to somehow increase the delay before BS fires reload events.

---

One way to address the higher-level issue is to change how `static-jade-brunch` works. Specifically, if it could be transformed to a compiler (of files named `*.sjade` maybe? to distinguish between files that need to be built into html and those which need to be processed by `jade-brunch` into JS)

[2016-04-02 08:22] goshakkk commented on #1271
It doesn't mean it was "removed" from your config. It simply warns you that Brunch no longer uses this property so that you won't rely on it (its support was dropped back in 1.1; the warning was added in 2.3 because many people still had it in their configs)

Not a big deal.

---

It is reporting an error that occurs when brunch is trying to `require` one of the plugins listed in `package.json`. I

[2016-04-02 09:29] goshakkk commented on #1270
So, it works in Sublime but not Brackets?

Network saves can be somewhat nasty wrt detecting changes properly after the writes are finished (not started or in process), and different editors use different techniques for saving.

Can you see if `usePolling: true` (as I suggested in https://github.com/brunch/brunch/issues/1250#issuecomment-200214268) does the trick for you?

If not, it may be worth

[2016-04-02 11:31] goshakkk commented on #1269
Hey, thanks for your report. I was able to reproduce the issue locally. It looks like an issue on Brunch's side indeed. `react-on-rails` is specifying `babel-runtime` as a `devDependency` which is why brunch wasn't including it in the build (devDeps are usually things that don't belong in the build, but `babel-runtime` does).

I'll open a PR to address this one.

[2016-04-02 11:35] goshakkk commented on #1269
https://github.com/brunch/deppack/pull/8

[2016-04-02 12:17] spyl94 commented on #1269
Thanks !

[2016-04-02 16:12] Itagiba commented on #1271
Thanks for your reply. I have deleted the package locally and checked-out another copy but now I am getting another error after running `npm start` (which I ran after `npm install`)

[code]

It seems to fail here:

`  "scripts": {
    "start": "brunch watch -s",
    "test": "brunch test"
  },`

But does not give me any meanful information. Except the `brunch watch -s ` command itself. Do I need to

[2016-04-02 16:15] goshakkk commented on #1271
Just look at the error message itself

It's pretty descriptive. It's not a brunch issue, it's a CoffeeScript syntax error (you probably have a few `defaultExtension` keys in the same object)

Either way, since `defaultExtension` is no longer supported, you can just delete it.

[2016-04-02 16:24] Itagiba commented on #1271
It does not make sense to me. I need to track the files of a particular extension in order to join them into another file. If I remove the `defaultExtension`, I get another error with jointo:
[code]

[2016-04-02 16:35] goshakkk commented on #1271
Because you also have several `joinTo`s in the same object.

`{ a: 1, a: 2 }` — this doesn't make sense. That's not valid CoffeeScript/JS. You simply can't have several values assigned to the same key this way.

Why do you need to care about extensions so much?

Wouldn't this be an acceptable join config?

[code]

where `[/^(app|vendor)(.+)\.(?!scss)/, /^app\/styles\/(.+)\.scss/]` should achieve m

[2016-04-02 16:40] Itagiba commented on #1271
If it helps, here is my config file:

[code]

[2016-04-02 16:51] Itagiba commented on #1271
Ok, the good news is that it is now compiling but the actual project returns a blank page and gives me the following error:

[code]

I believe the above not to be related to brunch. the `views/templates/private_mode` does exist so I will have to look into this.

Thanks for your help.

[2016-04-02 17:31] #1269 closed

[2016-04-03 05:14] colinbate opened #1275 "Local dependency tracing has broken requires with extensions."
### Description

Since moving to Brunch 2.6.1, I can no longer import/require a file using its full extension. It is an issue during the dependency resolving since the extension is stripped when going into the `modMap`.

### Environment

1. Brunch: 2.6.1
2. Node: 5.7.0
3. NPM: 3.7.5
4. Operating system: Mac OS X 10.11

### `package.json` contents

[code]

### brunch config contents

[code]

My deb

[2016-04-04 02:46] nicolashery opened #1276 "Brunch build on Heroku hangs trying to install devDependencies"
### Description

I've set up `brunch build --production` in my `package.json`'s `postinstall` script, but Brunch seems to hang when deploying to Heroku (see Heroku remote output below).

It looks like it's trying to install missing `devDependencies` (since Heroku runs `npm install --production`), but those dev dependencies aren't needed for my build process.

The workaround was to move all `devDep

[2016-04-04 05:22] paulmillr commented on #1276
Brunch doesn't support npm v2. Can you ensure this also happens with v3?

[2016-04-04 06:28] Xample commented on #889
The problem is still here, I increased the fileListInterval, it's better but it is still not deploying all the time (it fails ~10% of the time). I am running this script in a very sensible context and therefore this issue is a critical problem. Is there any way to prevent caching once for all ?

[2016-04-04 06:56] LeG3nDz commented on #1270
Hi @goshakkk

I've test `usePolling: true`, but no result :(

I'll look in the doc Brackets, hoping problem comes from there.

Thank you : )

[2016-04-04 12:05] nicolashery commented on #1276
Ah I see. Unfortunately, it also seems to hang with `npm@3` (tried both `node@4` and `node@5`).

Heroku output with `devDependencies` (hangs):

[code]

Heroku output after workaround (moving `devDependencies` into `dependencies`):

[code]

[2016-04-04 16:57] bigardone opened #1277 "Can't resolve local js dependencies"
### Description

After upgrading to latest version (2.6.1) or even using the version on master I get the following error while brunch builds the javascript files on my project:

[code]

This only happens while importing local modules and not with the ones installed with npm.

### Environment

1. Brunch: 2.6.1
2. Node: v5.10.0
3. NPM: 3.8.3
4. Operating system: OSX El Capitan

### `package.json` co

[2016-04-04 17:25] goshakkk commented on #1276
@paulmillr has nothing to do with npm version... our current auto-npm functionality doesn't take `--production` passed to `b/w` into account.

@nicolashery thank you for the report. I will work on the fix for this one

[2016-04-04 17:27] goshakkk commented on #1277
Thanks for your report! This does indeed seem like something on our side. Will look into it

[2016-04-04 17:51] goshakkk commented on #1277
(Would still help if you could share [a subset of] an app that does reproduce the issue)

[2016-04-04 17:59] jsteiner opened #1278 "Brunch build should return nonzero when the build fails"
### Description

Reopening the issue raised here: https://github.com/brunch/brunch/issues/360. It looks like this was fixed in 2012, but it seems to be broken again.

I did a quick search on GitHub for `errorHappened`, which was introduced in https://github.com/brunch/brunch/commit/6dcf67727e1168eb5aebad9489982eda270ab7a2. It seems that it's still being [checked against](https://github.com/brunch/

[2016-04-04 18:17] goshakkk commented on #1275
Seems to be related to https://github.com/brunch/deppack/issues/9

This PR https://github.com/brunch/deppack/pull/12 should fix it

[2016-04-04 18:26] colinbate commented on #1275
Yes, I'd say it is the same issue :) Thanks @goshakkk

Should I report these issues to the underlying package like `deppack` if that is where is it located? I usually debug the issues to a specific root cause, but wasn't sure if you prefer a brunch issue or a more specific issue.

[2016-04-04 18:28] goshakkk commented on #1275
@colinbate it's totally fine to report it here

[2016-04-04 18:30] nicolashery commented on #1276
@goshakkk Cheers. Let me know if I can help test the fix

[2016-04-04 18:34] #1275 closed

[2016-04-04 18:51] goshakkk commented on #1276
@nicolashery https://github.com/brunch/brunch/pull/1279 should fix it

[2016-04-04 19:16] goshakkk commented on #1278
It is being set by `loggy` — https://github.com/paulmillr/loggy/blob/master/index.js#L45 — when brunch prints an error message.

I just tried to break a starter app by adding an erroneous require `require('something-non-existent')` and it did indeed return with code `1`, not `0`.

Can you describe your case when it returns 0 instead of 1? What kind of error occurs? Is it really in the brunch land

[2016-04-04 19:18] goshakkk commented on #1271
If you can't fix that issue and believe it is being caused by brunch, you can always share a small app that reproduces it so that we can take a look

[2016-04-04 19:50] xdave commented on #1277
I'm having the same issue when I import a local module (ie. pointing my import to a directory within the `app/` directory with an `index.js` file in it).

Such as `import Foo from './components/Blah';` where `'./components/Blah'` looks like this:
[code]

It used to work. :)

[2016-04-04 19:59] goshakkk commented on #1277
@xdave can you please share an app that demonstrates the issue? It'll be very handy

[2016-04-04 23:44] ohNegative opened #1280 "how to add a stand alone grid system to brunch?"
### Description

I'm looking to add a stand alone grid system to a standard brunch skeleton. The specific grid I want to add is Jeet (http://jeet.gs/) I've a tried a couple different ways, but Brunch doesn't like the @import feature that Jeet uses. It still compiles, but none of the styling comes through like:

[code]

I'm already using stylus, so that shouldn't be an issue.

### Environment

1. B

[2016-04-05 01:53] #1276 closed

[2016-04-05 02:58] colinbate opened #1281 "Normalize relative paths early"
Currently when running on Windows, the paths for files use backslashes for a part of the workflow, and eventually get normalized into forward slashes when written out as module names. Given the reliance on regular expressions for config and in various other places, I thought it might be a good idea to normalize the relative paths from the beginning in `watch.js` after they come in from `chokidar`.

[2016-04-05 04:37] xdave commented on #1277
@goshakkk This I have done: https://github.com/xdave/brunch-test-local-imports

:)

[2016-04-05 05:04] paulmillr commented on #1281
agree. that's a nice ux improvement. let's see what we can do here.

[2016-04-05 05:17] paulmillr commented on #1280
Try setting this in your brunch config.

[code]

[2016-04-05 05:17] #1280 closed

[2016-04-05 05:19] bigardone commented on #1277
@goshakkk that's exactly the same case as mine. Thanks @xdave's for providing the example application :)

[2016-04-05 08:09] paulmillr commented on #1273
Fixed  I suppose

[2016-04-05 08:09] #1273 closed

[2016-04-05 08:33] goshakkk commented on #1277
@xdave thanks for the demo app :)

Indeed, I was able to reproduce it and https://github.com/brunch/deppack/pull/13 should fix it

[2016-04-05 08:55] #1277 closed

[2016-04-05 09:09] bigardone commented on #1277
@goshakkk working like a charm now, thank you very much for the fix :)

[2016-04-05 09:10] goshakkk commented on #1277
:ok_hand:

[2016-04-05 09:23] xdave commented on #1277
@goshakkk Yes, thank you!

[2016-04-05 12:11] nicolashery commented on #1276
Thanks for the quick turnaround! Upgraded to `2.6.2` and worked great :)

[2016-04-05 13:08] Itagiba commented on #1271
Thank you, I have been doing some research in the little time I have and it seems that it is indeed a brunch issue. It does not seem to be finding my templates and I wonder if it is caused by where I am compiling these in my brunch.coffee file:

[code]

I have only used Gulp.js before and brunch seems to be a bit opinionated. I have upgraded to version brunch - 2.6.1 (globally) but it is still not

[2016-04-05 13:35] goshakkk commented on #1271
The config seems ok, nothing stands out that could be causing it... that said, the issue can be somewhere in your code or the plugins (or the versions of the plugins)

Please provide a small app that demonstrates the issue to make it easier for me to help you.

[2016-04-05 15:02] colinbate opened #1283 "Case check broken on Windows"
### Description

Another path separator issue on Windows. This time in `deppack`'s `resolve.js`. The result of `trueCasePath(res)` normalizes the path separators to forward slashes whereas `res` still has backslashes.

It manifests itself in a bunch of "Improperly-cased require" errors.

### Environment

1. Brunch: 2.6.2
2. Node: 5.6.0
3. NPM: 3.7.1
4. Operating system: Windows 7 Business

### Rep

[2016-04-05 16:55] goshakkk commented on #1283
Submitted https://github.com/brunch/deppack/pull/14 to address this.

[2016-04-05 17:14] colinbate commented on #1283
Thanks. As usual, I appreciate the swift turnaround on this.

[2016-04-05 17:14] #1283 closed

[2016-04-06 16:07] Florian-R commented on #1271
@goshakkk Can reproduce with the dead-simple-skeleton. Seems related to Linux and fs.write, see https://github.com/Microsoft/vscode/issues/4727

[2016-04-06 23:19] abogaart opened #1284 "Regression: Requiring JSON is broken in 2.5.0"
### Description

Issue #1236 has been [reintroduced in v2.6.3](https://github.com/brunch/brunch/commit/df88f11f4985fa3f94676e825b3e348fcebb6bfd#commitcomment-16998229)

[2016-04-07 08:12] #1284 closed

[2016-04-07 21:50] dalexj opened #1288 "How to use `npm.static` config"
### Description
I would like fonts from an npm package to be copied over to my `public` directory. there is an `npm.static` configuration option in https://github.com/brunch/brunch/blob/master/docs/config.md but there's hardly anything about it and I could not figure out how to use it at all.

could I get an example how to go about using this / maybe put that explanation in the documentation as we

[2016-04-08 01:10] jontonsoup commented on #1276
I was getting this hanging issue (turned out I wasn't using -p in my heroku deploy), but now I'm getting this issue

[code]

Let me know if you want me to make a new issue with this information. I'm not sure if this is related or not.

[2016-04-08 08:39] goshakkk commented on #1288
`static` is a config option to simply let some JS files from node modules to be included as-is, without analyzing their deps or wrapping them into modules.

At the moment brunch does not handle module assets other than stylesheets. But you can easily achieve it with a `postinstall` hook for your app: see https://github.com/brunch/brunch/blob/master/docs/faq.md#how-to-use-bower for reference (never

[2016-04-08 08:45] goshakkk commented on #1276
Please do create a separate issue and make sure to share a small app that reproduces the issue. Also mention the brunch, node, npm versions you are using.

[2016-04-08 13:30] mcfarljw commented on #1281
I was having some similar troubles with then with a plugin of mine. I ended up throwing together a quick hack to get it running, but certainly wouldn't be against standardizing it on a higher level.

https://github.com/mcfarljw/replace-brunch/commit/11032a96c2ae40c40c4613f990c8c9737e6e62e4

[2016-04-08 15:36] jontonsoup commented on #1276
@goshakkk rolling back my brunch version to 1.X solved the problem. I'm strapped for time at the moment, but when I get a chance will add the info.

[2016-04-08 15:41] goshakkk commented on #1276
@jontonsoup thanks 😄

[2016-04-11 00:06] dwoodsDev commented on #1031
I've been using brunch for a couple years now. A new project of mine has led me to a brunch/npm angular setup and this would be ideal imo.

[2016-04-11 12:34] lydell opened #1289 "Should `config.conventions.assets` apply to npm stuff? / Difficult to use the JS of the bootstrap-sass npm package"
### Description

It’s not possible to `require('bootstrap-sass')` (`bootstrap-sass` is an npm package) using the default Brunch config.

### Environment

1. Brunch: 2.6.5 (both globally and locally)
2. Node: 5.9.1
3. NPM: 3.7.3
4. Operating system: Ubuntu 15.10

### `package.json` contents

[code]

### brunch config contents

[code]

### Steps to reproduce

Setup:

[code]

Notice how `bootstrap.js

[2016-04-11 17:40] goshakkk commented on #1289
This is a good point, thanks for reporting. Up until now, we haven't actually stumbled into that ourselves but yes, these shouldn't apply to npm stuff. I'll create a PR for that tomorrow

[2016-04-12 00:04] wekyle opened #1290 "brunch@2.6.x throws TypeError during build"
### Description

When running build with `brunch@2.6.5` on my CI box, the build fails as follows:

[code]

I then installed `brunch@2.5.0` to confirm my suspicion that this was a version-specific issue:

[code]

... and then ran build again:

[code]

### Environment

1. Brunch: `2.6.5` and `2.5.0`
2. Node: `4.2.1`
3. NPM: `3.8.6`
4. Operating system: Ubuntu 12.04

### brunch config contents

[code

[2016-04-12 00:12] wekyle commented on #1278
Brunch builds are exiting non-zero for me on CircleCI  when errors happen with `brunch@2.6.5`.

Can you upgrade to that version and see if your problem persists?

[2016-04-12 01:07] jsteiner commented on #1278
Updated brunch and this seems to be working. Thanks!

[2016-04-12 01:07] #1278 closed

[2016-04-12 06:51] goshakkk commented on #1289
Here we go https://github.com/brunch/brunch/pull/1291

[2016-04-12 07:12] goshakkk commented on #1290
There's a lot of places that could somehow happen and without further information, it's barely possible for us to try and help you. A small app that demonstrates the issue is the best thing a reporter can do to ensure it gets resolved quickly.

(I was able to successfully run a react skeleton on 12.04 so definitely related to your specific config/files/plugins/etc)

Either way, can you please run

[2016-04-12 07:32] wekyle commented on #1290
@goshakkk, I'll spend some time on a proof of concept app tomorrow.

Meanwhile, here's the stack trace for the error:

[code]

[2016-04-12 07:42] goshakkk commented on #1290
@wekyle thanks! In this case, that might actually be just enough info to provide a fix

[2016-04-12 07:48] goshakkk commented on #1290
@wekyle can you see if Brunch from this PR https://github.com/brunch/brunch/pull/1292 addresses the issue?

You can install brunch from there like:

[code]

This should fix the surface issue but it might, in your case, result in warnings about some files not being written. Let me know if that's the case. If it is, then more info (aka logs, a sample app) would definitely be desirable to get to the

[2016-04-12 08:00] #1290 closed

[2016-04-12 08:01] #1289 closed

[2016-04-12 08:05] goshakkk commented on #1290
That just landed in master so you can install it like this

[code]

[2016-04-12 19:22] 32bitkid opened #1293 "adding lodash results in an invalid javascript compilation."
### Description

Starting with the default skeleton and adding `lodash` causes the resulting generated javascript to throw the following exception:

`Uncaught Error: Cannot find module 'base64-js' from 'brunch/node_modules/buffer/index.js'`

initialize.js is simply:

[code]

### Environment

1. Brunch: 2.6.5
2. Node: v5.10.1
3. NPM: 3.8.3
4. Operating system: osx 10.11.3

### Notes

The resulting

[2016-04-12 20:21] lydell commented on #1288
I thought `npm.assets` would copy over _any_ files too. Thanks for clarifying. I think the docs should be updated to say the option is all/only about JavaScript.

Incidentally, I was also trying to use fonts from an npm package.
I added the following at the bottom of my brunch-config.js. Seems to be working so far.

[code]

(In case somebody searches for "font-awesome" and ends up here: I also use

[2016-04-13 01:01] marcioj commented on #1293
I also hit this issue before, in order to fix it I had to install brunch in my project with `npm i brunch -D`.
Can you confirm if this works for you?

[2016-04-13 06:47] lydell opened #1294 "Let's make awesome validation for the config!"
Update/TLDR:

- [x] This issue was originally about validating brunch-config.js. That’s done (in a general way that ensures that future config is validated too).
- [x] Then, I suggested better error handling of missing files and valid but bad config. That’s done. (Let’s improve things more as we find them.)
- [ ] What’s left to do is plugin config validation.

---

The last couple of days I've bee

[2016-04-13 06:52] paulmillr commented on #1294
Great idea!

[2016-04-13 15:41] 32bitkid commented on #1293
It seems to work if I install brunch locally and reference it from `./node_modules/.bin/brunch` but it builds incorrectly if brunch is installed globally with `npm install -g brunch`

[2016-04-13 15:59] mcfarljw opened #1295 "Loading jquery and bootstrap using npm support"
### Description

I'm wondering what the proper way of using npm support to load both jquery and bootstrap into the global scope. Bootstrap requires jquery, but it doesn't specifically have a global name since it extends the existing jquery namespace.

### Environment

1. Brunch: 3.6.5
2. Node: 4.4.2
3. NPM: 2.15.0
4. Operating system: OSX 10.11.4

### `package.json` contents

[code]
### `brunch-co

[2016-04-13 16:07] goshakkk commented on #1295
I *think* `jquery` adds a global variable on its own when you require it. (but don't take my word for it)

As for bootstrap, I'd also like to note that this isn't really brunch-specific — i.e. you do what you normally would expect / do with other tools when you need a module for its side effects. `require('bootstrap')`

So, just add the requires for both of these to the entry point of your applica

[2016-04-13 16:13] mcfarljw commented on #1295
Good point. It appears that jquery doesn't automatically add it, but `window.$ = window.jQuery = require('jquery');` seems to have solved the issue.

[2016-04-13 16:13] #1295 closed

[2016-04-13 16:14] goshakkk commented on #1295
Well, if it doesn't, you can safely use `config.npm.globals` (and point it to just `$: 'jquery', jQuery: 'jquery'`) and brunch will write that piece of code for you

[2016-04-13 16:50] marcioj commented on #1293
I think I know what's going on. Brunch shims the `buffer` module using [node-browser-modules](https://github.com/brunch/node-browser-modules/blob/master/index.js#L7), this buffer module depends on [base64-js](https://github.com/feross/buffer/blob/master/package.json#L18).
In your project when you require lodash it references the global Buffer variable, I guess brunch shims it with `Buffer = requir

[2016-04-14 13:07] goshakkk commented on #1293
That seems to happen right now indeed... and not really desirable. I'll try and work on a fix for that to make it works with global brunch as well

[2016-04-14 15:31] goshakkk commented on #1293
The reason it happens is different than what @marcioj is describing, actually, since deppack is well capable of resolving and locating these... the bug *was* in fact introduced in 2.6.x. I'll submit a PR

---

@marcioj if you are still experiencing the issue you have described, please open a separate GH issue and provide relevant details & a sample app.

[2016-04-14 15:34] goshakkk commented on #1293
https://github.com/brunch/deppack/pull/17 should address this one.

[2016-04-14 16:09] #1293 closed

[2016-04-15 22:07] dalexj opened #1297 "Error when using a package with a "browser" option set to false"
### Description

I'm trying to load in a module that uses a `browser` setting set to false in `package.json` like so:

[code]

this will error out when the build file is run with `Uncaught TypeError: Cannot read property 'Buffer' of undefined` since brunch builds this file to something like this:

[code]

### Environment

1. Brunch: 2.6.4
2. Node: 5.4.1
3. NPM: 3.3.12
4. Operating system: OSX

###

[2016-04-16 05:48] goshakkk commented on #1297
Thanks for reporting. https://github.com/brunch/deppack/pull/18 should fix it.

[2016-04-16 08:12] #1297 closed

[2016-04-18 20:48] xdave opened #1300 "node_modules using new node.js features won't bundle/uglify properly"
### Description
(Below is more or less a copy of my comment from babel/babel-brunch#27
I'm posting a proper issue here, because seeing as that issue was closed before I commented, it may fall upon deaf ears (for being unnoticed).)

I'm bundling a dependency, [credit-card](https://github.com/continuationlabs/credit-card) for the browser which relies upon certain JS features that need to be transpil

[2016-04-18 23:08] xdave commented on #1228
@lucian303 Missing `javascript-brunch` plugin?  That's the only thing I can think of.  I always included that plugin even though I'm using babel.

[2016-04-19 12:08] nblackburn opened #1301 "Issue with relative paths"
### Description

As of 2.6.x, any imports with relative paths seem to prevent brunch from compiling them along with their dependencies.

[code]

### Environment

1. Brunch: 2.6.2
2. Node: 5.10.1
3. NPM: 3.8.3
4. Operating system: Mac OS X El Capitan (10.11.3)

### `package.json` contents

[code]

### brunch config contents

[code]

If something worked with previous versions of brunch, but stopped

[2016-04-19 13:33] goshakkk commented on #1301
I have just tried to use a relative import with `../` on a react skeleton and it worked perfectly. The details you have provided don't seem to be enough to allow for troubleshooting.

First, let me clarify if the error you are getting is `Could not load module '${mod}' from '${src}'` in the terminal?

Second, we don't ask you share your application entirely. What we do ask, though, is that you cre

[2016-04-19 13:37] nblackburn commented on #1301
I am working on getting something more sufficient prepared for you but wanted to get the issue up first in case it was known.

[2016-04-19 13:51] nblackburn commented on #1301
So i tried again to find it started working now for some reason.

[2016-04-19 13:53] goshakkk commented on #1301
That is nice to hear!

[2016-04-19 14:03] nblackburn commented on #1301
Figured out what it was, i was messing around with entryPoints which caused the following error...

[code]

I then removed it from my config and for some reason the error persisted until i reinstalled brunch.

[2016-04-19 14:13] goshakkk commented on #1301
Weird. If you do spot an issue with entryPoints that you think shouldn't happen — feel free to open an issue for that :)

[2016-04-19 14:42] nblackburn commented on #1301
It's the Mac, i cloned my project elsewhere and it's fine, no idea what is going on but it's acting weird lately.

[2016-04-19 16:19] nblackburn commented on #1301
Going to take a closer look at home on a reliable machine as something isnt right here.

[2016-04-19 18:36] nblackburn commented on #1301
Yup, we got an issue: https://github.com/nblackburn/brunch-bug

[2016-04-19 20:09] r-zzi opened #1303 "A file disappears after changing if I use "brunch watch""
### Description

I'm a beginner in Elixir/Phoenix/Brunch and probably I'm doing something wrong here, but I've got a strange behaviour of Brunch.

Steps:
1. I create a new project using Phoenix framework: `mix phoenix.new`.
2. It contains `web/static/js/app.js` and `web/static/js/socket.js` files by default.
3. When I open Chrome Inspector I can see both files (from source maps) and combined `app.

[2016-04-19 21:26] rgwork commented on #1303
http://recordit.co/pO1T0s1sSm A screencast showing the problem:
1. I launch `brunch watch d`.
2. Show that the content of the combined `app.js` file contains the content of `socket.js` at the end.
3. I change `socket.js`.
4. Show that the content of `app.js` doesn't contain the required part anymore.

[2016-04-19 22:11] r-zzi commented on #1303
http://recordit.co/pO1T0s1sSm A screencast showing the problem:
1. I launch `brunch watch d`.
2. Show that the content of the combined `app.js` file contains the content of `socket.js` at the end.
3. I change `socket.js`.
4. Show that the content of `app.js` doesn't contain the required part anymore.

[2016-04-19 22:26] dalexj commented on #1297
when is this planned for release?

[2016-04-20 00:12] paulmillr commented on #1297
This or next week. You can use `npm i -g brunch/brunch` for now.

[2016-04-20 03:55] Yukaii opened #1304 "Error: Resolving deps failed. happens sometimes while running brunch watch or build command"
### Description

I wrote a Reversi game using javascript with es6 syntax, and here's my project structure:

[code]

Every time I start `brunch watch --server` command, brunch show up the following error:

[code]

But after I re-save each of these file(DrawBoard.js and Game.js) in my editor without any changes, forcing the brunch watcher to reload, these errors are eliminated and build became succe

[2016-04-20 05:44] goshakkk commented on #1301
This seems to be windows-only issue though. For some reason, relative deps resolution is producing slightly different results on windows... I'm on it.

On OS X though, everything works just fine.

[2016-04-20 05:56] goshakkk commented on #1301
https://github.com/brunch/brunch/pull/1305 should fix this issue on Windows. Sorry about that. We were even normalizing the path to use proper slashes but kind of forgot to pass these to one of the calls... which in the end resulted in the error you were experiencing.

[2016-04-20 06:02] goshakkk commented on #1303
This could be related to the editor you are using, writing file in some way so that it first is emptied and saved, then the contents added a ms after... https://github.com/brunch/brunch/issues/1250 — some users of sublime and brackets reported that already.

For sublime, tweaking the atomic_save settings seemed to do the trick.

[2016-04-20 06:56] goshakkk commented on #1301
If it was also happening on OSX/Linux, it could have been related to https://github.com/brunch/brunch/issues/1304

I already submitted a PR for that as well https://github.com/brunch/deppack/pull/20

[2016-04-20 07:56] nblackburn commented on #1301
@goshakkk Nice one, thanks for the prompt fix!

[2016-04-20 13:10] #1301 closed

[2016-04-20 13:45] #1304 closed

[2016-04-20 14:32] colinbate commented on #1288
For what it is worth, I use a plugin for this purpose: https://www.npmjs.com/package/copyfilemon-brunch

[2016-04-20 17:48] r-zzi commented on #1303
Thanks, I'm using Sublime 3.
I set `"atomic_save": true` and now it works correctly.

[2016-04-20 18:21] dalexj opened #1307 "require: read package.json "main" more forgiving"
### Description

if reading a package.json `"main"` field that doesn't exist brunch will assume `index.js`. every other require definition I've seen will treat the main field as another require, and search for `{filename}` and `{filename}.js` to exist, then move on to `index.js`. could brunch also read for `{filename}.js`?

[2016-04-21 06:54] goshakkk commented on #1307
That should be happening already — we do put a `.js` in the end if `mainFile` lacks it: https://github.com/brunch/deppack/blob/master/lib/modules.js#L101

In fact, I think some of our apps do indeed depend on modules that have a `main` without an extension. Also just to test it, I locally modified react's package.json to have main of `react` instead of `react.js` — and it worked properly.

Is this

[2016-04-21 12:53] dalexj commented on #1307
specifically the `bignumber,js` module is throwing errors for me:

`warn: main file for module 'bignumber.js' does not exist (node_modules/bignumber.js/bignumber), assuming index.js`

and in browser getting: `Uncaught Error: Cannot find module 'bignumber.js' from 'initialize.js'`

if I edit the module's package.json from `"main": "bignumber",` to `"main": "bignumber.js",`, then the build passes an

[2016-04-22 21:03] jahbini opened #1309 "NPM Show stopper with Cheesy work-around"
I am using Brunch with some coffeeScript inside a node module.  Brunch recognizes it as coffeescript, and tags the correct compiler, but the routine 'isNPM' is called just before the proper compiler should be called.  The assumption is that NPM modules are all cooked, and no compilation step is necessary.  The routine returns true, and the compilation is skipped.

However, `isNPM` also checks to s

[2016-04-22 21:49] xdave opened #1310 "Can't indirectly use modules that start with `@` character"
### Description

For instance, the [socrates](https://github.com/matthewmueller/socrates) package is completely unusable.  Some of its dependencies' names start with the `@` character.

Brunch builds successfully, without error, but the browser outputs the following:
`Uncaught Error: Cannot find module '@f/combine-reducers' from 'socrates/lib/tree.js'`

### Environment

1. Brunch: 2.6.6
2. Node: v

[2016-04-23 07:33] goshakkk commented on #1309
And it's a correct assumption. Module's consumers should not care to know how it was authored; it is up to the module to provide proper javascript output.

Now, there are some genuine edge cases to this, like modules authored in ES6 and browser not supporting it, in which case the compilation step probably should happen (not implemented yet, https://github.com/brunch/brunch/issues/1300)

The mecha

[2016-04-23 07:38] goshakkk commented on #1309
Yup, that seems like unintended behavior. `isNpm` was originally intended to exclude plugins' vendor files from going through dependency resolution, etc... This will be fixed.

[2016-04-23 07:47] jahbini commented on #1309
The fact that the coffescript must be cooked is a show stopper -- Mostly it means that the source stories must be re-engineered into non-NPM modules, and put somewhere else.

But frankly, isn't the whole idea of Brunch is to offload this kind of computation?

[2016-04-23 07:52] goshakkk commented on #1309
Well, the idea of NPM modules is to provide ready-to-use, no-additional-steps-necessary code, isn't it?

Either way, it could get possible when I work to address #1300, but I personally wouldn't do something like that. YMMV. (Subscribe to that issue if you feel like it)

[2016-04-23 08:04] goshakkk commented on #1300
This does make sense.

I'm thinking about which mechanism we should use to enable that.

Should it be some special handling in brunch to allow babel-brunch only to process modules' javascripts?
This one is great because it will *just work* with no setup required from the user. All js files from node_modules will just go through babel-brunch.

Should there be a generally available config option to

[2016-04-23 08:54] goshakkk commented on #1310
Nice catch! At-scoped requires were added re https://github.com/brunch/brunch/issues/1213 but the then-introduced check if a required component is optional didn't take this special case into account. I have submitted https://github.com/brunch/deppack/pull/22 to fix this, and I can confirm that with it `socrates` require adds `@f/...` to the bundle & requires them properly.

[2016-04-23 09:22] goshakkk commented on #1307
Thanks. Appears to be a bad on our side — that indexOf check would match `bingnumber.js/bignumber`. I've changed to to ensure the main has `.js` *at the end*, https://github.com/brunch/deppack/pull/23 should fix this.

Sorry for that :)

[2016-04-23 11:17] goshakkk commented on #1272
https://github.com/brunch/init-skeleton/pull/16

[2016-04-23 17:27] dalexj commented on #1307
great! I'm really enjoying brunch and now even more that you guys are so responsive to issues

[2016-04-23 23:00] #1307 closed

[2016-04-23 23:00] #1310 closed

[2016-04-23 23:01] #1272 closed

[2016-04-23 23:02] paulmillr commented on #1300
maybe something simpler or more implicit. not sure

[2016-04-23 23:33] r-zzi commented on #1303
I also would like to add that I'm trying other editors, looking for the best one for Elixir and I got exactly the same issue with Emacs.

[2016-04-23 23:42] r-zzi commented on #1303
I added
[code]
to the Brunch config, as I read in another issue, but it didn't help.

[2016-04-24 00:30] jahbini commented on #1309
I looked some info over on the NPM documentation site.  (https://docs.npmjs.com/getting-started/creating-node-modules) The first sentence said "Node.js modules are one kind of package which can be published to npm. When you create a new module, you want to start with the package.json file."

So modules may be Another Kind -- that has other content (coffescript source, markdown source, prayers to t

[2016-04-24 06:00] xdave commented on #1300
I agree with @paulmillr on this one: less config and more convention... just not sure how to go about it.

[2016-04-24 09:01] r-zzi opened #1313 "Brunch doesn't compile files at all since version 2.7.2, if they aren't located in the default directories ('app', 'test', 'vendor')"
### Description

I'm continuing learning Elixir/Phoenix using the default `mix phoenix.new` app, and yesterday I got an issue after receiving the new Brunch version 2.7.2. It just does not compile anything at all.

I looked at the changes in the last version and debugged the Brunch code a little bit.
I found out that if I comment line 438 in `config.js`, Brunch works correctly, as the previous ver

[2016-04-24 09:08] goshakkk commented on #1313
Wow, thanks for pointing that out! I must have forgotten to change it to `paths.watched.map`... https://github.com/brunch/brunch/pull/1314 will fix it! 🙈

Sorry for that!

[2016-04-24 10:11] r-zzi commented on #1313
Thanks! :)

I'd like to use an opportunity and ask a kind of off-topic question about practices in Brunch.
Let's imagine I made some changes / features / refactorings and want to create a pull request.
1. Should I write some tests for my changes or new features?
2. How could I make sure that I didn't break something?

Brunch isn't a very small project and it's suggested as a 'default solution' for

[2016-04-25 03:32] omnibs opened #1315 "`require.register` always being added to output file"
### Description

I'm trying to build some scripts with [Phoenix Channels](https://www.npmjs.com/package/phoenix-socket) and without modules (the target webpage has polluted window.require with something not compatible with commonjs).

### Expected behavior

Adding `modules: false, definition: false` to the `brunch-config.js` should output a file without any `window.require`.

### Actual behavior

[2016-04-25 06:46] lydell commented on #1294
The new validation is looking great! Good job! :)

I’ve got three pieces of feedback.

1. A possible bug
2. Plugin config validation?
3. Even more error message awesomeness :)

# A possible bug

I can’t get the unknown option warnings (with Levensthein suggestions) to work
though:

[code]

# Plugin config validation?

I understand that this might be difficult, but it would be awesome if we could v

[2016-04-25 07:32] goshakkk commented on #1294
Regarding a possible bug, it was fixed already https://github.com/brunch/skemata/pull/1 — now waiting for @paulmillr to cut a skemata release.

---

As for plugin config validation, that is something that's definitely popped in my mind and that I've been looking for possibilities to implement. Actually, my initial iteration of the schema validation did include support of plugins declaring their ow

[2016-04-25 07:36] goshakkk commented on #1315
This happens due to `npm` integration being enabled. Sorry, you can't have it both ways — no CommonJS **plus** npm integration. Either adopt modules, or drop npm.

I think an error message in this case would be helpful, warning that you really can't have it both ways.

[2016-04-25 07:47] goshakkk commented on #1315
Submitted https://github.com/brunch/brunch/pull/1316 to throw an error early on and provide details on how to resolve it.

[2016-04-25 07:55] goshakkk commented on #1309
At least for the time being, it looks like we'll be implementing a simpler and implicit way to only compile ES6 npm modules — see https://github.com/brunch/brunch/issues/1300#issuecomment-213689404

[2016-04-25 08:08] lydell commented on #1294
@goshakkk I agree on everything you said. Go for it! :+1: :)

[2016-04-25 08:12] andrejsm opened #1317 "How to define a configuration file path"
Most probably you know that Phoenixframework has selected Brunch.io as out-of-the-box asset management tool and it works well.

Still I have and issue with so called Elixir's "umbrella" project. In umbrella projects I have multiple Phoenix apps which have their own _brunch-config.js_. To make production build times of Phoenix apps faster I've linked all apps npm deps into root level _package.json_

[2016-04-25 09:34] andrejsm commented on #1317
Ok, somehow found this [configuration-files](https://github.com/brunch/brunch-guide/blob/master/content/en/chapter03-conventions-and-defaults.md#configuration-files).
Sad.

[2016-04-25 10:12] #1313 closed

[2016-04-25 11:17] #1317 closed

[2016-04-25 11:24] goshakkk commented on #1300
https://github.com/brunch/brunch/pull/1318 (and related PRs) should allow to run node_modules/ through babel now. Other js compilers are also fine as long as the source has `.js` extension.

[2016-04-25 14:25] lydell commented on #1294
Btw, regarding plugin config: My idea was to leave it up to each plugin to do it, in whatever way they feel like. Such as `require('skemata'). But perhaps it's better to an API to plugins, as in your screen shot above.

[2016-04-25 14:38] goshakkk commented on #1294
@lydell the idea was that plugins shouldn't depend on skemata directly, instead, Brunch will explicitly pass it. A few upsides I can see is that if there's some bug in skemata, a new Brunch comes out with bumped skemata version and plugins work as expected.

Leaving the validation entirely to the plugins doesn't seem very cool from where I stand. The idea is that the all the config schemas (core,